<div class="container d-flex justify-content-center">
  <div class="card">
    <h4 class="card-header"><i class="fa fa-user-shield"></i> <%= t("titles.users.reset_password") %></h4>
    <%= render 'shared/flash_messages' %>
    <div class="card-body">
      <%= form_for @user, url: password_reset_path(params[:id])do |f| %>
        <%= render "shared/error_messages", record: @user %>
        <div class="mb-3">
          <i class="fa fa-lock"></i> <%= f.label :password, class: 'form-label' %>
          <%= f.password_field :password, class: "form-control", required: true, autofocus: true %>
        </div>

        <div class="mb-3">
          <i class="fa fa-lock"></i> <%= f.label :password_confirmation, class: 'form-label'  %>
          <%= f.password_field :password_confirmation, class: "form-control", required: true %>
        </div>

        <div class="text-center">
          <%= f.submit t("form.submit.update_password"), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
