<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <div class="row-fluid">
        <div class="span4">
          <h1><%= t("titles.users.reset_password") %></h1>
        </div>
      </div>
    </div>
  </div>
</div>

<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
  <div class="control-group">
    <%= f.label :password, t("labels.user.password"), :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :class => "m-wrap m-ctrl-medium" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation, t("labels.user.password_confirmation"), :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => "m-wrap m-ctrl-medium" %>
    </div>
  </div>

  <div class="m-btn-strip">
    <%= submit_tag t("form.submit.update_password"), :class => 'm-btn blue' %>
  </div>
<% end %>
