<%= render "shared/header", index: :talk %>
<%= render "shared/title", title: t("titles.users.reset_password"), index: :talk %>

<%= form_for @user, url: password_reset_path(params[:id]), html: {class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :password, t("labels.user.password"), class: 'control-label col-md-2' %>
    <div class="col-md-2">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, t("labels.user.password_confirmation"), class: 'control-label col-md-2' %>
    <div class="col-md-2">
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>

  <div class="container">
    <%= submit_tag t("form.submit.update_password"), class: 'btn btn-primary' %>
  </div>
<% end %>
