<div class="container d-flex justify-content-center">
  <div class="card">
    <h4 class="card-header"><i class="fa fa-lock"></i> <%= t("titles.users.reset_password") %></h4>
    <%= render 'shared/flash_messages' %>
    <div class="card-body">
      <%= form_tag password_resets_path do %>
        <div class="mb-3">
          <i class="fa fa-envelope"></i> <%= label_tag :email, t("mongoid.attributes.user.email"), class: 'form-label' %>
          <%= email_field_tag :email, params[:email], class: "form-control", size: 40, autofocus: true %>
        </div>

        <div class="text-center">
          <%= submit_tag t("form.submit.reset_password"), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
