<article id="answer_<%= answer.id %>" class="answer comment col-md-11 offset1">
  <%= render "shared/user_thumb", user: answer.user %>
  <span class="date_comment"><%= l answer.created_at, format: :long %></span>
  <div class="body">
    <%= answer.body %>
  </div>

  <% if logged_in? && answer.commented_by?(current_user) %>
    <%= link_to t("actions.delete.label"), comment_path(comment.commentable.class, comment.commentable, answer), method: :delete, class: "delete", data: { confirm: t("actions.delete.confirm") } %>
  <% end %>
</article>
