<article id="answer_<%= answer.id %>" class="answer comment span11 offset1">
  <%= render "shared/user", :user => answer.user %>
  <span class="date"><%= l answer.created_at, :format => :long %></span>
  <div class="body">
    <%= answer.body %>
  </div>

  <% if logged_in? && answer.commented_by?(current_user) %>
    <%= link_to I18n.t("actions.delete.label"), comment_path(comment.commentable.class, comment.commentable, answer), :method => :delete, :class => "delete", :confirm => I18n.t("actions.delete.confirm") %>
  <% end %>
</article>
