<article id="comment_<%= comment.id %>" class="comment col-md-8">
  <%= render "shared/user", user: comment.user %>

  <span class="date_comment"><%= l comment.created_at, format: :long %></span>
  <div class="body">
    <%= comment.body %>
  </div>

  <% if logged_in? %>
    <%= link_to t("actions.answer"), "#", class: "answer_comment" %>
  <% end %>

  <% if logged_in? && comment.commented_by?(current_user) %>
  | <%= link_to t("actions.delete.label"), comment_path(commentable.class, commentable, comment), method: :delete, class: "delete", confirm: t("actions.delete.confirm") %>
  <% end %>

  <% comment.comments.each do |answer| %>
    <%= render "comments/answer", answer: answer, comment: comment %>
  <% end %>

  <% if logged_in? %>
    <%= render "comments/answer_form", commentable: commentable, comment: comment %>
  <% end %>
</article>
