<h1><%= t("titles.signup.new") %></h1>
<p>
  <%= t("signup.about_html", :url => login_path) %>
</p>

<%= form_for @user, :url => signup_path do |form| %>
  <%= render "shared/error_messages", :record => @user %>

  <p>
    <%= form.label :name, t("labels.user.name") %>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :email, t("labels.user.email") %>
    <%= form.email_field :email %>
  </p>

  <p>
    <%= form.label :password, t("labels.user.password") %>
    <%= form.password_field :password %>
  </p>

  <p>
    <%= form.label :password_confirmation, t("labels.user.password_confirmation") %>
    <%= form.password_field :password_confirmation %>
  </p>

  <p>
    <%= form.submit %>
    <%= link_to t("actions.back"), root_path %>
  </p>
<% end %>