      <%= form_for(@talk, url: url, html: {class: 'form-horizontal', id: 'form-talk'}) do |f| %>
        <%= render "shared/error_messages", record: @talk %>

        <div class="text-field-container">
          <div class="mdc-text-field text-field mdc-text-field--fullwidth mdc-text-field--upgraded">
            <%= f.url_field :presentation_url, class: "mdc-text-field__input", required: true %>
            <%= f.label :presentation_url, class: 'mdc-floating-label' %>
            <div class="mdc-line-ripple"></div>
          </div>
          <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" id="pw-validation-msg">slideshare, speakerdeck, prezi</p>
        </div>

        <div class="text-field-container">
          <div class="mdc-text-field text-field mdc-text-field--fullwidth mdc-text-field--upgraded">
            <%= f.text_field :title, class: "mdc-text-field__input", required: true %>
            <%= f.label :title, class: 'mdc-floating-label' %>
            <div class="mdc-line-ripple"></div>
          </div>
        </div>

        <div class="text-field-container">
          <div class="mdc-text-field text-field mdc-text-field--fullwidth mdc-text-field--textarea mdc-text-field--upgraded">
            <%= f.text_area :description, rows: 4, class: "mdc-text-field__input", required: true %>
            <%= f.label :description, class: 'mdc-floating-label' %>
          </div>
        </div>

        <div class="text-field-container">
          <div class="mdc-text-field text-field mdc-text-field--upgraded">
            <%= f.text_field :tags, class: "mdc-text-field__input", required: true %>
            <%= f.label :tags, class: 'mdc-floating-label' %>
            <div class="mdc-line-ripple"></div>
          </div>
        </div>

        <div class="text-field-container">
          <div class="mdc-text-field text-field mdc-text-field--fullwidth mdc-text-field--upgraded">
            <%= f.url_field :video_link, class: "mdc-text-field__input" %>
            <%= f.label :video_link, class: 'mdc-floating-label' %>
            <div class="mdc-line-ripple"></div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :to_public %>
          <%= f.check_box :to_public %>
        </div>

        <%= f.hidden_field :thumbnail %>
        <%= f.hidden_field :code %>

        <span id="user_in_the_list" style="display:none"><%= t("new.invite.js.the_user_is_already_in_the_list") %></span>
        <span id="user_invalid" style="display:none"><%= t("new.invite.js.user_invalid") %></span>
        <span id="remove" style="display:none"><%= t("new.invite.js.remove") %></span>
      <% end %>
