      <%= form_for(@talk, url: url, html: {class: 'form-horizontal'}) do |f| %>
        <%= render "shared/error_messages", record: @talk %>

        <div class="form-group">
          <%= f.label :presentation_url %>
          <%= f.url_field :presentation_url, class: "form-control" %>
          <span id="searching_talk" class="text-error" style="display:none"><b><%= t("new.talk.searching") %></b></span>
          <span class="help-block"><p class="text-info"><%= t("new.talk.help.presentation_url_html") %></p></span>
          <span id="talk_not_found" class="text-error" style="display:none"><%= t("new.talk.not_found") %></span>
        </div>

        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, rows: 5, class: "md-textarea" %>
        </div>

        <div class="form-group">
          <%= f.label :tags %>
          <%= f.text_field :tags, class: "form-control col-md-4" %>
        </div>

        <div class="form-group">
          <%= f.label :video_link %>
          <%= f.url_field :video_link, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :to_public %>
          <%= f.check_box :to_public %>
        </div>

        <div class="container">
          <%= render "shared/invite_user", model: @talk, users: @authors, key: "author" %>

          <%= f.submit class: 'btn btn-primary' %>
          <%= link_to t('helpers.links.cancel'), talks_path, class: 'btn btn-default' %>
        </div>

        <%= f.hidden_field :thumbnail %>
        <%= f.hidden_field :code %>

        <span id="user_in_the_list" style="display:none"><%= t("new.invite.js.the_user_is_already_in_the_list") %></span>
        <span id="user_invalid" style="display:none"><%= t("new.invite.js.user_invalid") %></span>
        <span id="remove" style="display:none"><%= t("new.invite.js.remove") %></span>
      <% end %>
