<%= render "shared/title", title: t("titles.talks.index") %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-6">
      <% unless @talks.blank? %>
        <%= form_tag talks_path, method: "get", class: "form-inline" do |f| %>
          <div class="col-md-12">
            <div class="input-group">
              <input type="text" class="form-control" id="search" name="search" value="<%= @search %>" autocomplete="off" placeholder="<%= t("placeholder.talks.search") %>">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-success"><%= t("form.submit.search") %></button>
              </span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-6">
      <div class="row-fluid">
        <% if logged_in? %>
          <div class="col-md-4"></div>
          <div class="col-md-8">
            <div class="btn-group" role="group">
              <%= link_to t("titles.talks.new"), new_talk_path, class: "btn btn-primary" %>
              <% if @my %>
                <%= link_to t("titles.talks.all"), "/talks", class: "btn btn-primary" %>
              <% else %>
                <%= link_to t("titles.talks.my"), "/talks?my=true", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= render "shared/talks", talks: @talks, show_user: true %>
</div>
