<div class="container">
  <%= render "shared/flash_messages" %>
  <div class="row">
    <div class="col-md-7">
      <%= form_tag talks_path, method: "get" do |f| %>
        <div class="input-group">
          <div class="form-outline">
            <%= search_field_tag :search, params[:search], class: "form-control", size: 35, maxlength: 40 %>
            <%= label_tag :search, t('placeholder.talks.search'), class: "form-label" %>
          </div>
          <button id="search_button" type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>
          </button>
        </div>
      <% end %>
    </div>
    <% if logged_in? %>
      <div class="col-md-5 text-end">
        <%= link_to t("titles.talks.new"), new_talk_path, class: "btn btn-primary" %>
        <%= link_to t("titles.talks.#{params[:my] ? 'all' : 'my'}"),
                    "/talks#{params[:my] ? '' : '?my=true'}", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <% if @records.any? %>
    <%= render "shared/talks", talks: @records, pagy: @pagy, show_user: true %>
  <% end %>
</div>
