<section id="top">

  <h1>Talks</h1>

  
</section>

<div class="container container-talks">

  

  <div class="row nav-talks">
    <% if logged_in? %>
      <div class="row">
        <div class="col-md-4">
          <% unless @talks.blank? %>
          <div class="filter-tags">
            <%= form_for @talk, :html => { :class => '' }, :url => talks_path, :method => "get" do |f| %>
              <div class="input-group input-group-lg">
                <input type="text" class="form-control" id="talk_search" name="talk[search]" value="<%= @search %>" autocomplete="off" placeholder="<%= t("placeholder.talks.search") %>">
              
                <span class="input-group-btn">
                  <button class="btn btn-default btn-lg"><%= t("form.submit.search") %></button>
                </span>
              </div>
            <% end %>
          </div> 
          <% end %>
        </div>

        <div class="col-md-2"></div>

        <div class="col-md-6">
          <%= link_to t("titles.talks.new"), new_talk_path, :class => "btn-talks" %>
        
          <% if @my %>
            <%= link_to t("titles.talks.all"), "/talks", :class => "btn-talks" %>
          <% else %>
            <%= link_to t("titles.talks.my"), "/talks?my=true", :class => "btn-talks" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <% @talks.each do |talk| %>
      <div class="col-md-4">
        <div class="box-talk">
          <% thumb = talk.thumbnail.blank? ? "without_presentation.jpg" : talk.thumbnail %>

          <%= image_tag thumb, :class => "featurette-image img-polaroid", height: '180', width: '230' %>

          <% talk.users.by_name.each do |user| %>
            <a href="<%= user_path(user) %>" title="<%= user.name %>" class="thumb-user">
              <%= gravatar_image(user.email, user.name, "40x40") %>
            <a>
          <% end %>

          <p><%= link_to talk.title, talk_path(talk) %></p>

          <span><%= t("talk.created_time", :time => time_ago_in_words(talk.created_at)) %></span>
        </div>
      </div>
    <% end %>

  </div>

</div>
