<div>
  <% if @talk %>
    <h2><%= @talk.title %></h2>

    <% unless @talk.code.empty? %>
      <iframe src="http://www.slideshare.net/slideshow/embed_code/<%= @talk.code %>" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe>
    <% else %>
      <br/>
      <h4><p class="text-warning"><%= t("show.talk.without_presentation") %></p></h4>
    <% end %>

    <br/>
    
    <p>
      <strong><%= t("labels.talk.description") %></strong><br/>
      <p class="text-info"><%= simple_format @talk.description %></p>
    </p>

    <p>
      <strong><%= t("labels.talk.tags") %>:</strong> <%= @talk.tags %>
    </p>

    <% if logged_in? %>
    <p>
      <strong><%= t("show.talk.to_public") %>:</strong> <%= @talk.to_public ? t("show.talk._yes") : t("show.talk._no") %>
    </p>
    <% end %>

    <% author = t("show.talk.authors") %>
    <strong><%= @talk.users.count > 1 ? author[:other] : author[:one] %></strong><br/>

    <% @talk.users.each do |user| %>
      <%= render "shared/user", :user => user %><br/><br/>
    <% end %>

    <% @talk.users.each do |user| %>
      <% if logged_in? && current_user.id.to_s == user.id.to_s && @talk.owner.to_s == user.id.to_s %>
        <%= link_to t("actions.edit"), edit_talk_path(@talk), :class => "btn btn-primary" %>
      <% end %>
    <% end %>
  <% else %>
    <h1><%= t("show.talk.not_public") %></h1>  
  <% end %>
</div>