<%= render "shared/header", index: :talk %>
<%= render "shared/title", title: t("titles.talks.show"), index: :talk %>

  <div class="container">
    <%= render "talks/show/actions" %>
    <br />
    <div class="row">
      <div class="col-md-4">
        <%= render "talks/show/details" %>
        <%= render "talks/show/tags" %>
        <%= render "talks/show/creators" %>
        <%= render "talks/show/public_label" %>
        <%= render "talks/show/watch_button" %>
        <%= render "talks/show/schedules" %>
        <%= render "talks/show/external_events" %>
        <%= render "talks/show/watched_users" %>
      </div>

      <div class="col-md-8">
        <% unless @presentation.frame.include?("without_presentation") %>
          <%= render 'talks/show/presentation' %>
          <%= render 'talks/show/video' %>
        <% end %>
      </div>
    </div>
  </div>

  <%= render "comments/index", commentable: @talk %>
