<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <div class="row-fluid">
        <div class="span4">
          <h1>Trabalhos</h1>
        </div>
        <%= render "talks/show/actions" %>
      </div>
    </div>
  </div>
</div>

<% if @talk %>
  <div class="work" id="portfolio">
    <div class="row-fluid work-item">
      <div class="span4">
        <h2><%= @talk.title %></h2>
        <%= simple_format @talk.description %>
        <%= render "talks/show/tags" %>
        <%= render "talks/show/creators" %>
        <%= render "talks/show/public_label" %>
        <%= render "talks/show/watch_button" %>
        <%= render "talks/show/schedules" %>
        <%= render "talks/show/watched_users" %>
      </div>
      <div class="span8">
        <%= render 'talks/show/presentation' %>
        <%= render "comments/index", :commentable => @talk %>
      </div>
    </div>
  </div>
<% else %>
  <h1><%= t("show.talk.not_public") %></h1>
<% end %>
