<%= render "shared/header", index: :talk %>
<%= render "shared/title", title: t("titles.talks.show"), index: :talk %>

  <div class="container">
    <%= render "talks/show/actions" %>
    <br />
    <div class="row">
      <div class="col-md-4">
        <%= render "talks/show/details" %>

        <h5><%= t('labels.talk.tags') %></h5>
        <p><%= render 'shared/tags', object: @talk %></p>

        <%= render "talks/show/creators" %>

        <p><%= t("created_time", time: time_ago_in_words(@talk.created_at)) %></p>

        <%= render "talks/show/public_label" %>
        <%= render "talks/show/watch_button" %>
        <%= render "talks/show/schedules" %>
        <%= render "talks/show/external_events" %>
        <%= render "talks/show/watched_users" %>
      </div>

      <div class="col-md-8">
        <% unless @presentation.frame.include?("without_presentation") %>
          <%= render 'talks/show/presentation' %>
        <% end %>
        <%= render 'talks/show/video' %>
      </div>
    </div>
  </div>

  <%= render "comments/index", commentable: @talk %>
