<% unless @groups.blank? %>
  <h1><%= t("titles.groups.index") %> (<%= @groups.count %>)</h1>
<% end %>

<% if logged_in? %>
  <%= link_to t("titles.groups.new"), new_group_path, :class => "btn btn-primary" %>
  <% if @my %>
    <%= link_to t("titles.groups.all"), "/groups", :class => "btn" %>
  <% else %>
    <%= link_to t("titles.groups.my"), "/groups?my=true", :class => "btn" %>
  <% end %>
  <br />
<% end %>

<% unless @groups.blank? %>
  <%= render "shared/groups" %>
<% else %>
  <h1><%= t("titles.groups.no_groups") %></h1>
<% end %>