
<div class="row-fluid">
    <div class="span12">
      <div class="page-header">
        <div class="row-fluid">
          <div class="span4">
             <h1><%= t("titles.groups.index") %> <small>(<%= @groups.count %>)</small></h1>
          </div>
          <% if logged_in? %>
          <div class="span8">
            <ul id="work-filter">
              <li><%= link_to t("titles.groups.new"), new_group_path, :class => "btn btn-primary" %></li>
              <% if @my %>
              <li><%= link_to t("titles.groups.all"), "/groups", :class => "btn" %></li>
              <% else %>
              <li><%= link_to t("titles.groups.my"), "/groups?my=true", :class => "btn" %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<% unless @groups.blank? %>
  <%= render "shared/groups" %>
<% else %>
  <p><%= t("titles.groups.no_groups") %></p>
<% end %>