<div class="featurette">
  <% if @group %>
    <% thumb = @group.thumbnail_url.blank? ? "without_avatar.jpg" : @group.thumbnail_url %>

    <%= image_tag thumb, :class => "featurette-image pull-left img-polaroid" %>

    <h2 class="featurette-heading"><%= @group.name %></h2>

    <p class="lead">
      <strong><%= t("labels.group.tags") %>:</strong> <%= @group.tags %><br/>

      <% if @gravatar.has_profile %>
        <%= @gravatar.about_me.blank? ? "" : "#{@gravatar.about_me}<br/>".html_safe %>
        <%= @gravatar.current_location.blank? ? "" : "#{@gravatar.current_location}<br/>".html_safe %>
        <%= t("show.group.profile") %> <%= link_to @gravatar.profile_url, @gravatar.profile_url %>
      <% end %>
    </p>

    <% if @owns %>
      <%= link_to t("titles.groups.edit"), edit_group_path(@group), :class => "m-btn blue" %>
    <% end %>

    <% member = t("show.group.members") %>
    <h4><%= member[@group.users.count > 1 ? :other : :one] %></h4>

    <% @group.users.by_name.each do |user| %>
      <%= render "shared/user", :user => user %><br/><br/>
    <% end %>

    <% if @group.events? %>
      <% event = t("show.group.events") %>
      <h4><%= event[@group.events.count > 1 ? :other : :one] %></h4>

      <% @group.events.each do |event| %>
          <h5><%= link_to "#{event.name} - #{event.edition}", event_path(event) %></h5>
      <% end %>
    <% end %>
  <% else %>
    <h1><%= t("show.group.not_found") %></h1>
  <% end %>
</div>