<%= form_for @user, url: url, html: {class: 'form-horizontal' } do |f| %>
  <%= render "shared/error_messages", record: @user %>

  <div class="form-group">
    <%= f.label :name, t("labels.user.name"), class: 'control-label col-md-3' %>
    <div class="col-md-4">
      <%= f.text_field :name, :placeholder => t("placeholder.users.name"), class: "form-control" %>
      <span id="helpBlock" class="help-block"><%= t("labels.user.name_explanaition") %></span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :username, t("labels.user.username"), class: 'control-label col-md-3' %>
    <div class="col-md-4">
      <%= f.text_field :username, :placeholder => t("placeholder.users.username"), class: "form-control" %>
      <span id="helpBlock" class="help-block"><%= t("labels.user.username_explanaition") %></span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, t("labels.user.email"), class: 'control-label col-md-3' %>
    <div class="col-md-4">
      <%= f.email_field :email, :placeholder => t("placeholder.users.email"), class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :facebook_url, t("labels.user.facebook_url"), class: 'control-label col-md-3' %>
    <div class="col-md-4">
      <%= f.text_field :facebook_url, :placeholder => t("placeholder.users.facebook_url"), class: "form-control" %>
      <span id="helpBlock" class="help-block"><%= t("labels.user.facebook_url_explanaition") %></span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, t("labels.user.password"), class: 'control-label col-md-3' %>
    <div class="col-md-2">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, t("labels.user.password_confirmation"), class: 'control-label col-md-3' %>
    <div class="col-md-2">
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>

  <div class="container">
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
