<%= form_for @user, url: url, html: { class: 'form-horizontal' } do |f| %>
  <%= render "shared/error_messages", record: @user %>

  <div class="text-field-container">
    <%= f.label :avatar, class: "control-label col-sm-2" %>
    <div class="col-sm-8">
      <%= thumbnail(@user) %>
      <%= f.file_field :avatar %>
    </div>
  </div>

  <div class="text-field-container">
    <div class="mdc-text-field text-field mdc-text-field--upgraded" style="width: 100%">
      <%= f.text_field :name, class: "mdc-text-field__input" %>
      <%= f.label :name, t("labels.user.name"), class: 'mdc-floating-label' %>
      <div class="mdc-line-ripple"></div>
    </div>
  </div>

  <div class="text-field-container">
    <div class="mdc-text-field text-field mdc-text-field--upgraded" style="width: 100%">
      <%= f.text_field :username, class: "mdc-text-field__input" %>
      <%= f.label :username, t("labels.user.username"), class: 'mdc-floating-label' %>
      <div class="mdc-line-ripple"></div>
    </div>
  </div>

  <div class="text-field-container">
    <div class="mdc-text-field text-field mdc-text-field--upgraded" style="width: 100%">
      <%= f.email_field :email, class: "mdc-text-field__input" %>
      <%= f.label :usernemailame, t("labels.user.email"), class: 'mdc-floating-label' %>
      <div class="mdc-line-ripple"></div>
    </div>
  </div>

  <div class="text-field-container">
    <div class="mdc-text-field text-field mdc-text-field--upgraded" style="width: 100%">
      <%= f.password_field :password, class: "mdc-text-field__input" %>
      <%= f.label :password, t("labels.user.password"), class: 'mdc-floating-label' %>
      <div class="mdc-line-ripple"></div>
    </div>
  </div>

  <div class="text-field-container">
    <div class="mdc-text-field text-field mdc-text-field--upgraded" style="width: 100%">
      <%= f.password_field :password_confirmation, class: "mdc-text-field__input" %>
      <%= f.label :password_confirmation, t("labels.user.password_confirmation"), class: 'mdc-floating-label' %>
      <div class="mdc-line-ripple"></div>
    </div>
  </div>

  <div class="text-field-container">
    <div style="width: 100%; margin: 20px 0 100px 0">
      <% option = @user.name.nil? ? 'create' : 'update' %>
      <button class="mdc-button mdc-button--raised mdc-ripple-upgraded"><%= t("helpers.submit.user.#{option}") %></button>
    </div>
  </div>

<% end %>
