        <%= form_for @user, url: url do |f| %>
          <%= render "shared/error_messages", record: @user %>

          <div class="mb-3">
            <i class="fa fa-file-signature prefix"></i> <%= f.label :name, class: 'form-label' %>
            <%= f.text_field :name, placeholder: t("placeholder.users.name"), class: "form-control", autofocus: true %>
          </div>

          <div class="mb-3">
            <i class="fa fa-user-circle prefix"></i> <%= f.label :username, class: 'form-label' %>
            <%= f.text_field :username, placeholder: t("placeholder.users.username"), class: "form-control" %>
          </div>

          <div class="mb-3">
            <i class="fa fa-envelope prefix"></i> <%= f.label :email, class: 'form-label' %>
            <%= f.email_field :email, placeholder: t("placeholder.users.email"), class: "form-control" %>
          </div>

          <div class="mb-3">
            <i class="fa fa-lock prefix"></i> <%= f.label :password, class: 'form-label' %>
            <%= f.password_field :password, class: "form-control" %>
          </div>

          <div class="mb-3">
            <i class="fa fa-lock prefix"></i> <%= f.label :password_confirmation, class: 'form-label' %>
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= f.label :avatar, class: "control-label col-sm-2" %>
            <div class="col-sm-8">
              <%= thumbnail(@user) %>
              <%= f.file_field :avatar %>
            </div>

            <div class="form-check mb-3">
              <% if @user.name? %>
                <%= f.check_box :remove_avatar, class: "form-check-input" %>
                <%= f.label :remove_avatar, "#{t('actions.delete.label')} #{t('mongoid.attributes.user.avatar')}", class: "form-check-label" %>
              <% end %>
            </div>
          </div>

          <div class="text-center">
            <% option = @user.name.nil? ? 'create' : 'update' %>
            <button class="btn btn-primary btn-submit"><%= t("helpers.submit.user.#{option}") %></button>
          </div>
        <% end %>
