<%= form_for @user, :url => url do |f| %>
  <%= render "shared/error_messages", :record => @user %>

  <div class="control-group">
    <%= f.label :name, t("labels.user.name"), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => "m-wrap m-ctrl-large" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email, t("labels.user.email"), :class => 'control-label' %>
    <div class="controls">
      <%= f.email_field :email, :class => "m-wrap m-ctrl-large" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, t("labels.user.password"), :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :class => "m-wrap m-ctrl-small" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation, t("labels.user.password_confirmation"), :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => "m-wrap m-ctrl-small" %>
    </div>
  </div>

  <div class="m-btn-strip">
    <%= f.submit nil, :class => 'm-btn blue' %>
  </div>
<% end %>
