<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h1><%= t("titles.users.profile") %></h1>
    </div>
  </div>
</div>

<div class="featurette">
  <%= gravatar_image(@user.email, @user.name) %>
  <h3 class="featurette-heading"><%= @user.name %></h3>

  <% if @gravatar.has_profile %>
    <p class="lead">
      <%= @gravatar.about_me.blank? ? "" : "#{@gravatar.about_me}<br/>".html_safe %>
      <%= @gravatar.current_location.blank? ? "" : "#{@gravatar.current_location}<br/>".html_safe %>
      <%= t("show.user.profile") %> <%= link_to @gravatar.profile_url, @gravatar.profile_url %>
    </p>
  <% end %>
</div>

<% if @user.groups? %>
  <% event = t("show.user.groups") %>
  <h4><%= event[@user.groups.count > 1 ? :other : :one] %></h4>

  <% @user.groups.by_name.each do |group| %>
    <h5><%= link_to group.name, group_path(group) %></h5>
  <% end %>
<% end %>

<% if @user.events? %>
  <% event = t("show.user.events") %>
  <h4><%= event[@user.events.count > 1 ? :other : :one] %></h4>

  <% @user.events.each do |event| %>
    <h5><%= link_to "#{event.name} - #{event.edition}", event_path(event) %></h5>
  <% end %>
<% end %>

<% presentations = "" %>

<% if @user.talks? %>
  <% @user.talks.each do |talk| %>
    <% if talk.schedules? %>
      <% talk.schedules.each do |schedule| %>
        <% presentations += '<h5>' + (link_to "#{schedule.talk.title} ( #{schedule.event.name} - #{schedule.event.edition} )", event_path(schedule.event)) + '</h5>' %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% unless presentations.blank? %>
  <h4><%= t("show.user.presentations") %></h4>
  <%= presentations.html_safe %>
<% end %>

<% unless @participations.blank? %>
  <% participation = t("show.user.participations") %>
  <h4><%= participation[@participations.count > 1 ? :other : :one] %></h4>

  <% @participations.each do |participation| %>
    <h5><%= link_to "#{participation.event.name} - #{participation.event.edition}", event_path(participation.event) %></h5>
  <% end %>
<% end %>

<hr class="featurette-divider">

<% unless @talks.empty? %>
  <h3><%= t("show.talk.my_talks_published") %> (<%= @talks.count %>)</h3>

  <%= render "shared/talks", :show_user => false %>
<% end %>
