<div class="container">
  <%= render "shared/flash_messages" %>
  <div class="row">
    <div class="col-md-1">
      <%= thumbnail(@user, '80x80') %>
    </div>
    <div class="col-md-7">
      <h3><%= @user.name %> <small><%= @user.username %></small></h3>
    </div>
    <% if logged_in? %>
      <div class="col-md-4 text-end">
        <%= link_to t("titles.talks.new"), new_talk_path, class: "btn btn-primary" %>
        <%= link_to t("titles.events.new"), new_event_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <% if @gravatar.has_profile %>
    <%= CGI.unescapeHTML("<p>#{@gravatar.about_me}</p>").html_safe unless @gravatar.about_me.blank? %>
    <%= CGI.unescapeHTML("<p>#{@gravatar.current_location}</p>").html_safe unless @gravatar.current_location.blank? %>
    <%= t("show.user.profile") %> <%= link_to 'gravatar', @gravatar.profile_url %>
  <% end %>

  <% if @records.any? %>
    <hr />
    <h3><%= t('show.talk.my_talks_published') %> (<%= @pagy.count %>)</h3>

    <%= render 'shared/talks', pagy: @pagy, talks: @records, show_user: false %>
  <% end %>

  <% if @events.any? %>
    <hr />
    <h3><%= t('show.user.events', count: @events.count) %></h3>
    <ol>
    <% @events.each do |event| %>
      <li><%= link_to event.name, event_path(event) %></li>
    <% end %>
    </ol>
  <% end %>

  <% if @schedules_talks.any? %>
    <hr />
    <h3><%= t('show.user.presentations') %></h3>
    <ol>
    <% @schedules_talks.each do |talk| %>
      <% talk.schedules.with_talk.with_event.each do |schedule| %>
        <li><%= link_to(schedule.talk.title, talk_path(talk)) << ' - ' <<
                link_to(schedule.event.name, event_path(schedule.event)) %></li>
      <% end %>
    <% end %>
    </ol>
  <% end %>

  <% if @participations.any? %>
    <hr />
    <h3><%= t('show.user.participations', count: @participations.count) %></h3>
    <ol>
    <% @participations.each do |participation| %>
      <li><%= link_to participation.event.name, event_path(participation.event) %></li>
    <% end %>
    </ol>
  <% end %>
</div>
