<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <div class="row-fluid">
        <div class="span4">
          <h1><%= t("titles.users.profile") %></h1>
        </div>
        <% if logged_in? %>
          <div class="span8">
            <ul id="work-filter">
              <li><%= link_to t("titles.talks.new"), new_talk_path, :class => "m-btn blue" %></li>
              <li><%= link_to t("titles.events.new"), new_event_path, :class => "m-btn green" %></li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="featurette">
  <%= gravatar_image(@user.email, @user.name) %>
  <h3 class="featurette-heading"><%= @user.name %> <small><%= @user.username %> </small></h3>

  <% if @presenter.gravatar.has_profile %>
    <p class="lead">
      <%= @presenter.gravatar.about_me.blank? ? "" : "#{@presenter.gravatar.about_me}<br/>".html_safe %>
      <%= @presenter.gravatar.current_location.blank? ? "" : "#{@presenter.gravatar.current_location}<br/>".html_safe %>
      <%= t("show.user.profile") %> <%= link_to @presenter.gravatar.profile_url, @presenter.gravatar.profile_url %>
    </p>
  <% end %>
</div>

<% if @user.events? %>
  <% event = t("show.user.events") %>
  <h4><%= event[@user.events.count > 1 ? :other : :one] %></h4>

  <% @user.events.where(to_public: true).order(updated_at: :desc).each do |event| %>
    <h5><%= link_to "#{event.name} - #{event.edition}", event_path(event) %></h5>
  <% end %>
<% end %>

<% presentations = "" %>

<% if @user.talks? %>
  <% @user.talks.where(to_public: true).each do |talk| %>
    <% if talk.schedules? %>
      <% talk.schedules.each do |schedule| %>
        <% presentations << '<h5>' + (link_to "#{schedule.talk.title} ( #{schedule.event.name} - #{schedule.event.edition} )", event_path(schedule.event)) + '</h5>' %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% unless presentations.blank? %>
  <h4><%= t("show.user.presentations") %></h4>
  <%= presentations.html_safe %>
<% end %>

<% unless @presenter.participations.blank? %>
  <% participation = t("show.user.participations") %>
  <h4><%= participation[@participations.count > 1 ? :other : :one] %></h4>

  <% @participations.each do |participation| %>
    <h5><%= link_to "#{participation.event.name} - #{participation.event.edition}", event_path(participation.event) %></h5>
  <% end %>
<% end %>

<hr class="featurette-divider">

<% unless @presenter.talks.empty? %>
  <h3><%= t("show.talk.my_talks_published") %> (<%= @presenter.talks.count %>)</h3>

  <%= render "shared/talks", show_user: false, talks: @presenter.talks %>
<% end %>
