<div class="featurette">
  <%= gravatar_image(@user.email, @user.name) %>
  <h3 class="featurette-heading"><%= @user.name %></h3>
  <p class="lead">
    <%= @about_me %><br/>
    <%= @current_location %><br/>
    <%= t("show.user.profile") %> <%= link_to @profile_url, @profile_url, :target => "_blank" %>
  </p>
</div>

<hr class="featurette-divider">

<% unless @talks.empty? %>
  <h3><%= t("index.talk.my_talks") %> (<%= @talks.count %>)</h3>

  <%= render "shared/talks", :show_user => false %>
<% end %>