<%= render "shared/header", index: :ranking %>
<%= render "shared/title", title: t("titles.users.profile"), index: :ranking %>

<% if logged_in? %>
  <div class="container">
    <div class="row-fluid">
      <div class="col-md-12">
        <div class="btn-group pull-right" role="group">
          <%= link_to t("titles.talks.new"), new_talk_path, class: "btn btn-primary" %>&nbsp;
          <%= link_to t("titles.events.new"), new_event_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <%= thumbnail(@user, '80x80', 'rounded-circle img-responsive') %>
  <h3 class="featurette-heading"><%= @user.name %> <small><%= @user.username %> </small></h3>

  <% if @gravatar.has_profile %>
    <p class="lead">
      <%= @gravatar.about_me.blank? ? "" : CGI.unescapeHTML("#{@gravatar.about_me}<br/>").html_safe %>
      <%= @gravatar.current_location.blank? ? "" : CGI.unescapeHTML("#{@gravatar.current_location}<br/>").html_safe %>
      <%= t("show.user.profile") %> <%= link_to 'gravatar', @gravatar.profile_url %>
    </p>
  <% end %>

  <% if @user.events? %>
    <hr />
    <h3><%= t('show.user.events', count: @user.events.count) %> (<%= @user.events.count %>)</h3>
    <ul>
    <% @user.events.publics.order(start_date: :desc).each do |event| %>
      <li><%= link_to event.name_edition, event_path(event) %></li>
    <% end %>
    </ul>
  <% end %>

  <% presentations = "" %>

  <% if @user.talks? %>
    <% @user.talks.publics.each do |talk| %>
      <% talk.schedules.presenteds.each do |schedule| %>
        <% presentations << '<li>' << link_to(schedule.talk.title, talk_path(talk)) << ' - ' << link_to(schedule.event.name_edition, event_path(schedule.event)) << '</li>' %>
      <% end %>
    <% end %>
  <% end %>

  <% unless presentations.blank? %>
    <hr />
    <h3><%= t("show.user.presentations") %></h3>
    <ul><%= presentations.html_safe %></ul>
  <% end %>

  <% unless @participations.blank? %>
    <h3><%= t('show.user.participations', count: @participations.count) %></h3>

    <% @participations.each do |participation| %>
      <h5><%= link_to participation.event.name_edition, event_path(participation.event) %></h5>
    <% end %>
  <% end %>

  <% unless @records.empty? %>
    <hr />
    <h3><%= t("show.talk.my_talks_published") %> (<%= @records.count %>)</h3>

    <%= render "shared/talks", pagy: @pagy, talks: @records, show_user: false %>
  <% end %>
</div>
