<%= form_for(@schedule, url: url, html: { class: 'row g-3' }) do |f| %>
  <%= render "shared/error_messages", record: @schedule %>

  <div class="col-md-2">
    <%= f.label :day, class: 'form-label' %>
    <%= select_tag("schedule[day]", @presenter.dates.html_safe, class: "form-select", autofocus: true) %>
  </div>

  <div class="col-md-1">
    <%= f.label :time, class: 'form-label' %>
    <%= f.text_field :time, class: "form-control hour", required: true %>
  </div>

  <div class="col-md-6">
    <%= f.label :description, class: 'form-label' %>
    <%= f.text_field :description, class: "form-control", maxlength: 50, required: true %>
  </div>

  <div id="div_talk" class="form-group mb-3" style="display:<%= @presenter.display %>">
    <label class="control-label col-md-2"><%= t("mongoid.attributes.talk.title") %></label>
    <div class="col-md-6">
      <span id="talk_title" class="text-white bg-success"><%= @presenter.talk_title %></span>
    </div>
  </div>

  <div class="col-md-12">
    <%= check_box_tag :attach_talk, class: "form-check-input" %>
    <%= label_tag :attach_talk, t('labels.schedule.attach_talk'), class: 'form-check-label col-md-3' %>
  </div>

  <%= f.hidden_field :event_id, value: @event.id %>
  <%= f.hidden_field :talk_id, value: @schedule.talk_id %>
  <%= f.hidden_field :schedule_id, value: @schedule.id %>

  <%= hidden_field_tag :old_talk_id, @schedule.talk_id %>
  <%= hidden_field_tag 'titles_talks_select', t('titles.talks.select')%>
  <%= hidden_field_tag 'alert_enter_talks', t('new.schedule.you_must_enter_a_talk') %>

  <div class="form-group">
    <%= f.submit class: 'btn btn-primary btn-submit' %>
    <%= link_to t('.cancel', default: t("helpers.links.cancel")), event_path(@event, anchor: 'page-content'), class: 'btn btn-secondary' %>
  </div>

  <div class="form-group" id="search_talks" style="display:none">
    <h3 class="text-primary"><%= t("titles.talks.search") %></h3>
    <div class="col-md-12">
      <div class="input-group">
        <div class="form-outline">
          <%= search_field_tag :search_text, params[:search], class: "form-control", size: 40, maxlength: 40 %>
          <%= label_tag :search_text, t('placeholder.talks.search'), class: "form-label" %>
        </div>
        <button id="search_button" type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>

  <div id="search_result"></div>
<% end %>

<%= javascript_pack_tag 'inputmask' %>
