<%= form_for(@schedule, :url => url, :html => {:class => 'form-horizontal' }) do |f| %>
  <%= render "shared/error_messages", :record => @schedule %>

  <div class="control-group">
    <%= f.label :day, t("labels.schedule.day"), :class => 'control-label' %>
    <div class="controls">
      <%= select_tag("schedule[day]", @dates.html_safe, :class => "m-wrap m-ctrl-small") %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :time, t("labels.schedule.time"), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :time, :class => "m-wrap m-ctrl-small hour" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :activity, t("labels.schedule.activity"), :class => 'control-label' %>
    <div class="controls">
      <%= collection_select(:schedule, :activity_id, @activities, :id, :description, {}, :class => "m-wrap m-ctrl-medium") %>
    </div>
  </div>

  <div id="div_talk" class="control-group" style="display:<%= @display %>">
    <label class="control-label"><%= t("labels.talk.title") %></label>
    <div class="controls">
      <span id="talk_title" class="input-xlarge uneditable-input"><%= @talk_title %></span>
    </div>
  </div>

  <%= f.hidden_field :event_id, :value => @event.id %>
  <%= f.hidden_field :talk_id, :value => @schedule.talk_id %>
  <%= f.hidden_field :schedule_id, :value => @schedule.id %>

  <input id="old_talk_id" name="old_talk_id" type="hidden" value="<%= @schedule.talk_id %>" />

  <input id="titles_talks_select" name="titles_talks_select" type="hidden" value="<%= t("titles.talks.select") %>" />

  <input id="alert_enter_talks" name="alert_enter_talks" type="hidden" value="<%= t("new.schedule.you_must_enter_a_talk") %>" />

  <div class="m-btn-strip">
    <%= f.submit :class => 'm-btn blue' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
          event_path(@event), :class => 'm-btn black' %>
  </div>

  <hr>
  <div class="input-append" id="search_talks" style="display:none">
    <h3 class="text-info"><%= t("titles.talks.search") %></h3>
    <div class="m-input-append">
      <input class="search-query m-wrap m-ctrl-large" id="search_text" type="text" placeholder="<%= t("placeholder.talks.search") %> ">
      <button id="search_button" class="m-btn green" type="button"><%= t("form.submit.search") %></button>
    </div>
  </div>

  <div id="search_result"></div>
<% end %>
