<%= form_for(@schedule, url: url, html: {id: 'form-schedule'}) do |f| %>
  <%= render "shared/error_messages", :record => @schedule %>

  <div class="mdc-form-field  mdc-form-field--custom">
    <div class="mdc-select mdc-form-field--custom">
      <%= select_tag("schedule[day]", @presenter.dates.html_safe, class: "mdc-select__native-control") %>
      <%= f.label :day, class: 'mdc-floating-label' %>
    </div>
  </div>

  <div class="mdc-form-field mdc-form-field--custom">
    <div class="mdc-text-field text-field mdc-text-field--upgraded mdc-form-field--custom">
      <%= f.text_field :time, class: "mdc-text-field__input hour", required: true %>
      <%= f.label :time, class: 'mdc-floating-label' %>
      <div class="mdc-line-ripple"></div>
    </div>
  </div>

  <div class="mdc-form-field  mdc-form-field--custom">
    <div class="mdc-select mdc-form-field--custom">
      <select id="schedule_activity_id" name="schedule[activity_id]" class="mdc-select__native-control">
        <% @presenter.activities.each do |activity| %>
          <option data-activity-type="<%= activity.type %>" value="<%= activity._id %>"> <%= activity.description %> </option>
        <% end %>
      </select>
      <%= f.label :activity, class: 'mdc-floating-label' %>
      <div class="mdc-line-ripple"></div>
    </div>
  </div>

  <div class="" style="min-height: 50px">
    <ul class="mdc-list" aria-orientation="vertical">
      <li id="container-selected-talk" class="mdc-list-item"></li>
    </ul>
  </div>

  <div id="container-search-talks" style="display: none">
    <div class="mdc-form-field mdc-form-field--custom">
      <div class="mdc-text-field text-field mdc-text-field--upgraded mdc-form-field--custom">
        <input type="text" autocomplete="off" class="mdc-text-field__input" id="search_talk" name="search_talk" value="" />
        <label for="search_talk" class="mdc-floating-label">Pesquisar palestra</label>
      </div>
    </div>

    <div class="mdc-list-group">
      <ul id="result-talks-search" class="mdc-list" aria-orientation="vertical">

      </ul>
    </div>
  </div>

  <%= f.hidden_field :event_id, value: @event.id %>
  <%= f.hidden_field :talk_id, value: @schedule.talk_id %>
  <%= f.hidden_field :schedule_id, value: @schedule.id %>
<% end %>
