<%= render "shared/header", index: :talk %>
<%= render "shared/title", title:  t("titles.schedules.index"), index: :talk %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-12">
      <h2><%= t("titles.schedules.edit") %> <b><%= "#{@event.name} - #{@event.edition}" %></b></h2>

      <%= render 'form', url: event_schedule_path(@event, @schedule) %>
    </div>
  </div>
</div>
