<%= render "shared/header", index: :talk %>
<%= render "shared/title", title:  t("titles.schedules.index"), index: :talk %>

<div class="container">
  <div class="row-fluid">
    <div class="col-md-12">
      <h2><%= t("titles.schedules.new") %> <b><%= "#{@event.name} - #{@event.edition}" %></b></h2>

      <%= render 'form', url: event_schedules_path(@event) %>
    </div>
  </div>
</div>
