<%= render "shared/header", index: :talk %>
<%= render "shared/title", title:  t("titles.schedules.index"), index: :talk %>

<div class="container">
  <div class="card">
    <div class="card-body mx-4">
      <h2><%= t("titles.schedules.new") %> <b><%= @event.name_edition %></b></h2>

      <%= render 'form', url: event_schedules_path(@event) %>
    </div>
  </div>
</div>
