<%= render 'dialog' %>

<div class="hero-description">
  <h1 class="mdc-typography--headline4">Programação</h1>
</div>

<div class="container">
  <button id="btn-new-schedule" class="fixed-fab mdc-fab material-icons mdc-ripple-upgraded"><span class="mdc-fab__icon">add</span></button>
  <input type="hidden" name="event_id" id="event_id" value="<%= @event.id %>">

  <section id="dynamic-demo-toolbar">
    <nav id="dynamic-tab-bar" class="mdc-tab-bar nav-schedule" role="tablist">
      <% @schedule_presenter.event_dates.each_with_index do |date, index| %>
      <a role="tab" aria-controls="panel-<%= index  = index  + 1 %> "
         class="mdc-tab mdc-tab--active" href="#panel-<%= index %>"><%= date %></a>
      <% end %>
      <span class="mdc-tab-bar__indicator"></span>
    </nav>
  </section>
  <section>
    <div class="panels">
      <%= render 'shared/event_schedule', event_presenter: @event_presenter %>
    </div>
    <div class="dots">
      <a class="dot active" data-trigger="panel-1" href="#panel-1"></a>
      <a class="dot" data-trigger="panel-2" href="#panel-2"></a>
    </div>
  </section>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'schedule' %>
<% end %>
