<div class="container">
  <%= render "shared/paginate", list: events %>

  <div class="row">
    <% events.each_with_index do |event, index| %>
      <div class="col-lg-4 mb-r">
        <div class="card">
          <div class="view overlay hm-white-slight view-card-event card-event-<%= index %>">
            <%= link_to event_path(event) do %>
              <% if event.image? %>
                <%= image_tag(event.image.url, size: '350x200') %>
              <% else %>
                <div class="mask"></div>
              <% end %>
            <% end %>
          </div>

          <div class="card-body">
            <h4 class="card-title"><%= link_to suspension_points(event.name_edition, 50), event_path(event) %></h4>
            <% if event.start_date == event.end_date %>
              <p><%= l event.start_date %></p>
            <% else %>
              <p><%= l event.start_date %> - <%= l event.end_date %></p>
            <% end %>
            <div class="card-text"> <%=  suspension_points(strip_tags(event.description), 100) %> </div>
          </div>

          <div class="card-footer">
            <span><%= t("created_time", time: time_ago_in_words(event.created_at)) %></span>
          </div>

        </div>
      </div>
    <% end %>
  </div>

  <hr/>

  <%= render "shared/paginate", list: events %>
</div>
