  <%= render "shared/paginate", list: events %>

  <div class="row">
    <% events.each do |event| %>
      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
        <div class="box-event">
          <%= link_to image_tag("without_event.jpg", width: '170', height: '128'), event_path(event) %>

          <h6><%= link_to suspension_points("#{event.name} - #{event.edition}", 50), event_path(event) %></h6>

          <% if event.start_date == event.end_date %>
            <p><b><%= l event.start_date %></b></p>
          <% else %>
            <p><b><%= l event.start_date %> - <%= l event.end_date %></b></p>
          <% end %>

          <span><%= t("event.created_time", time: time_ago_in_words(event.created_at)) %></span>
        </div>
      </div>
    <% end %>
  </div>

  <hr/>

  <%= render "shared/paginate", list: events %>
