  <hr/>
  <%= render "shared/paginate", list: pagy %>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    <% events.each do |event| %>
      <div class="col">
        <div class="card h-100 text-dark bg-light">
          <%= link_to event_path(event) do %>
            <% if event.image? %>
              <%= image_tag(event.image_path, size: '356x200', class: 'card-img-top') %>
            <% else %>
              <div class="card-img-top thumb-event"></div>
            <% end %>
          <% end %>

          <div class="card-body">
            <h4 class="card-title"><%= link_to event.name, event_path(event) %></h4>
            <% if event.start_date == event.end_date %>
              <p><%= l event.start_date %></p>
            <% else %>
              <p><%= l event.start_date %> - <%= l event.end_date %></p>
            <% end %>
            <p class="card-text"><%= render 'shared/tags', object: event %></p>
            <p class="card-text"><%= Utility.suspension_points(strip_tags(event.description), 200) %></p>
          </div>

          <div class="card-footer">
            <small class="text-muted">
              <%= t("created_time", time: time_ago_in_words(event.created_at)) %>
            </small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <hr/>
  <%= render "shared/paginate", list: pagy %>
