    <% if @event.schedules? %>
      <h2><%= t("titles.schedules.index") %></h2>
      <hr>
      <div id="schedules">
        <table id="table_schedules" class="table table-striped">
          <thead>
            <tr>
              <th width="10%">
                <p class="text-center"><%= t("new.schedule.table.time") %></p>
              </th>
              <th width="80%">
                <p class="text-center"><%= t("new.schedule.table.activity") %></p>
              </th>
              <% if @authorized %>
                <th width="10%">
                  <p class="text-left"><%= t("new.schedule.table.operation") %></p>
                </th>
              <% end %>
            </tr>
          </thead>

          <tbody>
          <% day = 1 %>
          <% @dates.each do |date| %>
            <tr class="info">
              <% unless @authorized %>
                <td></td>
              <% end %>
              <td colspan="3">
                <h4><p class="text-center"><%= l date, :format => :custom %></h4></p>
              </td>
            </tr>
            <% @event.schedules.by_day(day).each do |schedule| %>
              <tr id="row_<%= schedule.id %>">
                <td><p class="text-center"><%= schedule.time %></p></td>

                <% if schedule.talk? %>
                  <td>
                    <p class="text-center">
                      <%= link_to schedule.talk.title, talk_path(schedule.talk), :target => "_blank" %><br/>
                      (<% schedule.talk.users.each do |user| %>
                        <%= link_to user.name, user_path(user), :target => "_blank" %>
                      <% end %>)
                    </p>
                  </td>
                <% else %>
                  <td><p class="text-center"><%= schedule.activity.description %></p></td>
                <% end %>

                <% if @authorized %>
                  <td><%= link_to t("actions.edit"), edit_schedule_path(@event, schedule), :class => "btn", :id => "schedule_id_#{schedule.id}" %></td>
                <% end %>
              </tr>
            <% end %>
            <% day += 1 %>
          <% end %>
          </tbody>

        </table>
      </div>
      <hr>
    <% end %>