    <h2 class="text-primary"><%= t("titles.schedules.index") %></h2>

    <% if @presenter.can_vote %>
      <div class="text">
        <%= t("show.event.hint_add_talk_html") %>
      </div>
      <center>
        <%= link_to t("show.event.btn_use_talk"), "/talks?my=true", class: "btn btn-success" %>
        <%= link_to t("show.event.btn_add_talk"), new_talk_path, class: "btn btn-success" %>
      </center>
      <hr />
    <% end %>

    <div id="schedules">
      <table class="table table-bordered table-hover table-responsive">
        <thead>
          <tr class="table-primary">
            <th width="5%">
              <h4 class="text-center"><%= t("new.schedule.table.time") %></h4>
            </th>
            <th width="80%">
              <h4 class="text-center"><%= t("new.schedule.table.description") %></h4>
            </th>
            <% if @presenter.authorized %>
              <th colspan="2" width="5%">
                <h4 class="text-center"><%= t("new.schedule.table.actions") %></h4>
              </th>
            <% end %>
            <% if @presenter.can_vote %>
              <th width="10%">
                <h4 class="text-left"><%= t("new.schedule.table.votes") %></h4>
              </th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @presenter.grids.each do |grid| %>
            <tr class="table-info">
              <th colspan="5">
                <h4 class="text-center"><%= l grid[:date], format: :custom %></h4>
              </th>
            </tr>

            <% grid[:schedules].each do |schedule| %>
              <tr id="row_<%= schedule.id %>">
                <td><h5 class="text-center"><%= schedule.show_time %></h5></td>

                <% if schedule.talk? %>
                  <td>
                    <h5 class="text-center">
                      <%= link_to schedule.talk.title, talk_path(schedule.talk) %>
                    </h5>
                    <% schedule.talk.users.each do |user| %>
                      <h6 class="schedule-author">
                        <%= link_to user.name, user_path(user) %>
                        <%= "- #{user.email}" if @presenter.authorized %>
                      </h6>
                    <% end %>
                  </td>
                <% else %>
                  <td><h5 class="text-center"><%= schedule.description %></h5></td>
                <% end %>

                <% if @presenter.authorized %>
                  <td class="text-center">
                    <%= link_to t("actions.edit"),
                                edit_event_schedule_path(@event, schedule),
                                class: "btn btn-primary",
                                id: "edit_schedule_id_#{schedule.id}" %>
                  </td>
                  <td class="text-center">
                    <%= link_to t("actions.delete.label"),
                                event_schedule_path(@event, schedule),
                                method: :delete,
                                data: { confirm: t("actions.delete.confirm") },
                                class: "btn btn-danger",
                                id: "delete_schedule_id_#{schedule.id}" %>
                  </td>
                <% end %>

                <% if @presenter.can_vote %>
                  <% if schedule.talk? %>
                    <td>
                      <% if logged_in? %>
                        <% if schedule.votes? && schedule.find_vote(current_user) %>
                          <%= link_to schedule.counter_votes,
                                      event_schedule_vote_path(@event, schedule, 1),
                                      method: :delete, class: "btn btn-danger",
                                      id: "remove_vote_schedule_id_#{schedule.id}",
                                      title: t("show.event.btn_remove_vote") %>
                        <% else %>
                          <%= link_to schedule.counter_votes,
                                      event_schedule_votes_path(@event, schedule),
                                      method: :post, class: "btn btn-success",
                                      id: "add_vote_schedule_id_#{schedule.id}",
                                      title: t("show.event.btn_add_vote") %>
                        <% end %>
                      <% else %>
                        <%= link_to schedule.counter_votes,
                                    "#schedules",
                                    class: "btn btn-primary disabled" %>
                      <% end %>
                    </td>
                  <% else %>
                    <td colspan="2"></td>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
