<% @events.each do |event| %>
  <div class="featurette">
    <h3 class="featurette-heading text-info"><%= link_to "#{event.name} - #{event.edition}", event_path(event) %></h3>

    <% if event.start_date == event.end_date %>
      <h4 class="text-success"><%= l event.start_date, :format => :long %></h4>
    <% else %>
      <h4 class="text-success">
        <%= t("show.event.of") %> <%= l event.start_date, :format => :long %> 
        <%= t("show.event.to") %> <%= l event.end_date, :format => :long %>
      </h4>
    <% end %>
    
    <% if event.deadline_date_enrollment >= Date.today %>
      <h4 class="text-error">
        <%= t("labels.event.deadline_date_enrollment") %>: <%= l event.deadline_date_enrollment, :format => :long %>
      </h4>
    <% end %>
    
    <p class="lead">
      <strong><%= t("labels.event.place") %>:</strong> <%= event.place %><br/>

      <strong><%= t("labels.event.address") %>:</strong> <%= event_address(event) %><br/>

      <strong><%= t("labels.event.tags") %>:</strong> <%= event.tags %><br/>

      <%= t("event.created_time", :time => time_ago_in_words(event.created_at)) %>
    </p>
  </div>
<% end %>

<hr class="featurette-divider">