<div class="container">
  <hr/>
  <%= render "shared/paginate", list: pagy %>
  <div class="row">
    <% events.each_with_index do |event, index| %>
      <div class="col-lg-4 mb-r">
        <div class="card h-100">
          <div class="view overlay hm-white-slight view-card-event card-event-<%= index %>">
            <%= link_to event_path(event) do %>
              <% if event.image? %>
                <%= image_tag(event.image_path, size: '350x200', class: 'card-img-top') %>
              <% else %>
                <div class="mask"></div>
              <% end %>
            <% end %>
          </div>

          <div class="card-body">
            <h4 class="card-title"><%= link_to event.name_edition, event_path(event) %></h4>
            <% if event.start_date == event.end_date %>
              <p><%= l event.start_date %></p>
            <% else %>
              <p><%= l event.start_date %> - <%= l event.end_date %></p>
            <% end %>
            <div class="card-text"><%= Utility.suspension_points(strip_tags(event.description), 200) %></div>
          </div>

          <div class="card-footer">
            <small class="text-muted">
              <%= t("created_time", time: time_ago_in_words(event.created_at)) %>
            </small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <hr/>
  <%= render "shared/paginate", list: pagy %>
</div>
