<div class="mdc-layout-grid__inner">
<% events.each_with_index do |event, index| %>
  <div class="mdc-layout-grid__cell">
    <div class="mdc-card custom-card custom-card--hero"  style="height: 400px">
      <div class="mdc-card__primary-action my-surface" onclick="location.href='<%= event_path(event) %>'">
        <div class="mdc-card__media mdc-card__media--16-9 custom-card__media" style="background-image: url('<%= event_image(event) %>');">
        </div>
        <div class="custom-card__primary">
          <h2 class="custom-card__title mdc-typography--headline6"><%= suspension_points(event.name_edition, 50) %></h2>
          <h3 class="custom-card__subtitle mdc-typography--subtitle2">
            <% if event.start_date == event.end_date %>
              <p><%= l event.start_date %></p>
            <% else %>
              <p><%= l event.start_date %> - <%= l event.end_date %></p>
            <% end %>
          </h3>
        </div>
        <div class="custom-card__secondary mdc-typography--body2">
          <%=  suspension_points(strip_tags(event.description), 100) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
