<header>
  <%= link_to image_tag("logo.png", :alt => "Palestras Coletivas"), root_path %>
  <nav>
    <ul>
      <% if logged_in? %>
        <li class="account-info">
          <%= t("user.greeting", :name => current_user.name) %>
        </li>
        <li>
          <%= link_to t("menu.new_talk"), new_talk_path %>
        </li>
        <li>
          <%= link_to t("menu.my_talks"), talks_path %>
        </li>
        <li>
          <%= link_to t("menu.logout"), logout_path %>
        </li>
      <% else %>
        <li>
          <%= link_to t("menu.login"), login_path %>
        </li>
        <li>
          <%= link_to t("menu.signup"), new_user_path %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>