<div class="utility">
    <div class="container navbar">
    <% if logged_in? %>
        <div class="navbar-text pull-right dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
				<%= gravatar_image(current_user.email, current_user.name, "30x30") %>
            	<%= t("user.greeting", :name => current_user.name) %>
                <b class="caret"></b>
             </a> 
              <% if logged_in? %>    
                <ul class="dropdown-menu">
                    <li><a href="<%= user_path(current_user) %>">Perfil</a></li>
                    <li class="<%= request.fullpath == edit_user_path(current_user) ? 'active' : '' %>">
                        <%= link_to t("menu.my_data"), edit_user_path(current_user) %>
                    </li>
                    <li><%= link_to t("menu.logout"), logout_path %></li>
                </ul>
            <% end %>
                <% else %>
                    <ul>
                        <li><%= link_to t("menu.login"), login_path %> </li>
                        <li><%= link_to t("menu.signup"), new_user_path %> </li>
                    </ul>
            <% end %>
      	</div>
    </div>
</div>

<div class="container nav-agency">
    <div class="navbar">
        <%= link_to t("menu.start"), root_path, :class => "logo" %>
        <ul class="nav">
            <li class=""> <%= link_to t("menu.about"), "http://idopter.com/users/luiz-sanches/ideas/101-palestras-coletivas", :target => "_blank" %> </li>
            <li class="<%= request.fullpath == events_path ? 'active' : '' %>"> <%= link_to t("menu.events"), events_path %> </li>
            <li class="<%= request.fullpath == talks_path ? 'active' : '' %>"> <%= link_to t("menu.talks"), talks_path %> </li>
            <li class="<%= request.fullpath == groups_path ? 'active' : '' %>"> <%= link_to t("menu.groups"), groups_path %> </li>
        </ul>
    </div>
</div>