<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-inverse bg-inverse-custom <%= index %>-color">
    <div class="container">
      <strong><%= link_to t('app.name'), root_path, class: 'navbar-brand' %></strong>

      <a class="navbar-toggler hidden-md-up pull-xs-right" data-toggle="collapse" href="#collapsingNavbarInside" aria-expanded="false" aria-controls="collapsingNavbar">&#9776;</a>

      <div id="collapsingNavbarInside" class="navbar-collapse collapse">
        <ul class="nav navbar-nav ml-auto">
          <%= render 'shared/menu' %>

          <% if logged_in? %>
            <li class="nav-item dropdown hidden-sm-down textselect-off">
              <a class="menu nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= thumbnail(current_user, "40x40", "rounded-circle img-responsive") %>
              </a>
              <div class="dropdown-menu dropdown-menu-right change">
                <%= link_to t("menu.user_profile"), user_path(current_user), class: "dropdown-item" %>
                <%= link_to t("menu.user_data"), edit_user_path(current_user), class: "dropdown-item" %>
                <%= link_to t("menu.logout"), logout_path, class: "dropdown-item" %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
