<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <% if logged_in? %>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      <% else %>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      <% end %>
      </button>

      <a class="brand" href="<%= root_path %>"><%= t("menu.start") %></a>

      <div class="container-fluid nav-collapse">
        <% if logged_in? %>
        <p class="navbar-text pull-right">
          <%= gravatar_image(current_user.email, current_user.name, "30x30") %>
          <a href="<%= user_path(current_user) %>"><%= t("user.greeting", :name => current_user.name) %></a>
        </p>
        <% end %>

        <ul class="nav">
        <% if logged_in? %>
          <li class="<%= request.fullpath == new_talk_path ? 'active' : '' %>">
            <%= link_to t("menu.new_talk"), new_talk_path %>
          </li>
          <li class="<%= request.fullpath == talks_path ? 'active' : '' %>">
            <%= link_to t("menu.my_talks"), talks_path %>
          </li>
          <li class="">
            <%= link_to t("menu.logout"), logout_path %>
          </li>
        <% else %>
          <li class="<%= request.fullpath == login_path ? 'active' : '' %>">
            <%= link_to t("menu.login"), login_path %>
          </li>
          <li class="<%= request.fullpath == new_user_path ? 'active' : '' %>">
            <%= link_to t("menu.signup"), new_user_path %>
          </li>
        <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>