  <fieldset>
    <legend><p class="text-info"><%= t("new.invite.group") %></p></legend>

    <%= select_tag("group_id", options_from_collection_for_select(groups, "id", "name")) %>
    
    <input type="button" id="add_group" class="btn btn-success" value="<%= t("new.invite.add") %> "/>
    
    <div id="groups">
      <table id="table_groups" class="table table-striped">
        <thead>
          <tr>
            <th width="50%"><%= t("new.invite.table.group") %></th>
            <th width="50%"><%= t("new.invite.table.operation") %></th>
          </tr>
        </thead>
        <tbody>
          <% if model.groups %>
            <% model.groups.each do |g| %>
              <tr id="row_<%= g.id %>">
                <td>
                  <%= g.name %><input type="hidden" name="groups[]" value="<%= g.id %>" />
                </td>
                <td>
                  <input type="button" id="group_id_<%= g.id %>" class="btn btn-danger" value="<%= t("new.invite.js.remove") %>" onclick="remove_group('<%= g.id %>')" />
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </fieldset>