  <fieldset>
    <legend><p class="text-info"><%= t("new.invite.#{key}") %></p></legend>

    <div class="row">
      <div class="col-md-6">
        <%= select_tag("user_id", options_from_collection_for_select(users, "id", "name"), :class => "form-control") %>
      </div>

      <div class="col-md-6">
        <input type="button" id="add_user" class="btn btn-primary" value="<%= t("new.invite.add") %> "/>
      </div>
    </div>

    <div id="users">
      <table id="table_users" class="table table-striped">
        <thead>
          <tr>
            <th width="50%"><%= t("new.invite.table.#{key}") %></th>
            <th width="50%"><%= t("new.invite.table.operation") %></th>
          </tr>
        </thead>
        <tbody>
          <% if model.users %>
            <% model.users.by_name.each do |u| %>
              <% if u.id.to_s != model.owner %>
                <tr id="row_<%= u.id %>">
                  <td>
                    <%= u.name %><input type="hidden" name="users[]" value="<%= u.id %>" />
                  </td>
                  <td>
                    <input type="button" id="user_id_<%= u.id %>" class="btn btn-warning" value="<%= t("new.invite.js.remove") %>" onclick="remove_user('<%= u.id %>')" />
                  </td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </fieldset>
