  <fieldset>
    <legend><p class="text-info"><%= t("new.invite.#{key}") %></p></legend>

    <div class="m-input-append" id="search-invitee">
      <%= text_field :invitee, :username,
              placeholder: t("labels.talk.search_user"),
              :class => "m-wrap m-ctrl-large",
              :data => {
                :invitees => users.map { |u| { value: u.oid, label: "#{u.name} (#{u.username})", username: u.username, name: u.name } }
              } %>

      <%= hidden_field :user, :id %>
      <input type="button" id="add_user" class="m-btn green" value="<%= t("new.invite.add") %> "/>
    </div>

    <div id="users">
      <table id="table_users" class="table table-striped">
        <thead>
          <tr>
            <th width="50%"><%= t("new.invite.table.#{key}") %></th>
            <th width="50%"><%= t("new.invite.table.operation") %></th>
          </tr>
        </thead>
        <tbody>
          <% if model.users %>
            <% model.users.by_name.each do |u| %>
              <% if u != model.owner %>
                <tr id="row_<%= u.id %>">
                  <td>
                    <%= u.name %> <%= "(#{u.username})" %><input type="hidden" name="users[]" value="<%= u.oid %>" />
                  </td>
                  <td>
                    <input type="button" id="user_id_<%= u.oid %>" class="m-btn red" value="<%= t("new.invite.js.remove") %>" onclick="remove_user('<%= u.oid %>')" />
                  </td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </fieldset>
