<aside class="mdc-drawer mdc-drawer--temporary mdc-typography">
  <nav class="mdc-drawer__drawer">
    <header class="mdc-drawer__header">
      <div class="mdc-drawer__header-content">
        Palestras Coletivas
      </div>
    </header>
    <nav id="icon-with-text-demo" class="mdc-drawer__content mdc-list">
      <a class="mdc-list-item mdc-list-item--activated" href="<%= events_path %>">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i><%= t('titles.events.index') %>
      </a>
      <a class="mdc-list-item" href="<%= talks_path %>">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">star</i><%= t('titles.talks.index') %>
      </a>
      <a class="mdc-list-item" href="<%= ranking_path %>">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">star</i><%= t('titles.ranking.index') %>
      </a>
      <% if logged_in? %>
        <a class="mdc-list-item" href="<%= user_path(current_user) %>">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">star</i><%= t("menu.user_profile") %>
        </a>

        <a class="mdc-list-item" href="<%= logout_path %>">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">star</i><%= t("menu.logout") %>
        </a>
      <% end %>
    </nav>
  </nav>
</aside>
