<li class="nav-item">
  <%= link_to t('titles.talks.index'), talks_path, class: 'nav-link' %>
</li>
<li class="nav-item">
  <%= link_to t('titles.events.index'), events_path, class: 'nav-link' %>
</li>
<li class="nav-item">
  <%= link_to t('titles.ranking.index'), ranking_path, class: 'nav-link' %>
</li>

<% unless logged_in? %>
  <li class="nav-item">
    <%= link_to t('menu.signin'), login_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to t('menu.signup'), new_user_path, class: 'nav-link' %>
  </li>
<% end %>
