<div class="mdc-card custom-card custom-card--hero">
  <div class="mdc-card__primary-action my-surface" onclick="location.href='<%= talk_path(talk) %>'" style="height: 300px">
    <% thumb = talk.thumbnail.blank? ? "without_presentation.jpg" : https(talk.thumbnail) %>
    <div class="mdc-card__media mdc-card__media--16-9 custom-card__media" style="background-image: url('<%= image_url thumb %>');">
    </div>
    <div class="custom-card__primary">
      <h2 class="custom-card__title mdc-typography--subtitle1"><%= suspension_points(talk.title, 60) %></h2>
      <h3 class="custom-card__subtitle mdc-typography--subtitle2">
        <% if show_user %>
          <% talk.users.by_name.each do |user| %>
            <%= link_to thumbnail(user, "40x40", 'user-thumb rounded-circle'), user_path(user), title: user.show_name %>
          <% end %>
        <% end %>
      </h3>
    </div>
    <div class="custom-card__secondary mdc-typography--subtitle2">
      <%= t("created_time", time: time_ago_in_words(talk.created_at)) %>
    </div>
  </div>
</div>
