  <hr/>
  <%= render "shared/paginate", list: pagy %>
  <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 g-4">
    <% talks.each do |talk| %>
      <div class="col">
        <div class="card card-talk h-100 text-dark bg-light">
          <%= link_to talk_path(talk) do %>
            <% if talk.thumbnail.blank? %>
              <div class="card-img-top thumb-talk"></div>
            <% else %>
              <%= image_tag(Utility.https(talk.thumbnail), size: '160x120', class: 'card-img-top') %>
            <% end %>
          <% end %>

          <div class="card-body">
            <% if show_user %>
              <% talk.users.each do |user| %>
                <%= render "shared/user_thumb", user: user %>
              <% end %>
            <% end %>

            <p class="card-title"><%= link_to(talk.title, talk_path(talk)) %></p>

            <p class="card-text"><%= render 'shared/tags', object: talk %></p>

            <p class="card-text">
              <small class="text-muted">
                <%= t("created_time", time: time_ago_in_words(talk.created_at)) %>
              </small>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <hr/>
  <%= render "shared/paginate", list: pagy %>
