<%= paginate @talks %>

<% @talks.each do |talk| %>
  <hr class="featurette-divider">

  <div class="featurette">
    <% thumb = talk.thumbnail.blank? ? "without_presentation.jpg" : talk.thumbnail %>

    <%= image_tag thumb, :class => "featurette-image pull-left img-polaroid" %>

    <h3 class="featurette-heading"><%= link_to talk.title, talk_path(talk) %></h3>

    <p class="lead">
      <%= talk.description.html_safe %><br/>

      <strong><%= t("show.talk.tags") %>:</strong> <%= talk.tags %><br/>

      <%= t("talk.created_time", :time => time_ago_in_words(talk.created_at)) %><br/>

      <% if show_user %>
        <strong><%= t("show.talk.created_by") %></strong><br/>

        <% talk.users.by_name.each do |user| %>
          <%= render "shared/user", :user => user %><br/>
        <% end %>
      <% end %>

      <% talk.users.each do |user| %>
        <% if logged_in? && user.id == current_user.id %>
          <strong><%= t("show.talk.to_public") %>:</strong> <%= talk.to_public ? t("show.talk._yes") : t("show.talk._no") %><br/>
        <% end %>
      <% end %>

      <% if talk.thumbnail.blank? %>
        <p class="text-warning"><%= t("show.talk.without_presentation") %></p>
      <% end %>
    </p>
  </div>
<% end %>

<hr class="featurette-divider">

<%= paginate @talks %>
