  <div class="row">
    <div class="col-md-12">
      <center><%= paginate talks %></center>
    </div>
  </div>

  <div class="row">
    <% talks.each do |talk| %>
      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
        <div class="box-talk">
          <% thumb = talk.thumbnail.blank? ? "without_presentation.jpg" : talk.thumbnail %>

          <%= link_to image_tag(thumb, class: "featurette-image img-polaroid", width: '170', height: '128'), talk_path(talk) %>

          <% if show_user %>
            <% talk.users.by_name.each do |user| %>
              <%= render "shared/user_thumb", user: user %>
            <% end %>
          <% end %>

          <p><%= link_to suspension_points(talk.title, 60), talk_path(talk) %></p>

          <span><%= t("talk.created_time", time: time_ago_in_words(talk.created_at)) %></span>
        </div>
      </div>
    <% end %>
  </div>

  <hr/>

  <div class="row">
    <div class="col-md-12">
      <center><%= paginate talks %></center>
    </div>
  </div>
