<div class="col-md-2 text-center">
  <a href="<%= user_path(user) %>" alt="<%= user.name %>">
    <%= thumbnail(user) %>

    <% if defined?(counter) %>
      <p>
        <span class="text-dark badge badge-light badge-custom shadow">
          <%= user.name %> <span class="badge badge-pill badge-dark"><%= counter %></span>
        </span>
      </p>
    <% else %>
      <p class="text-dark"><%= user.name %></p>
    <% end %>
  </a>
</div>
