<%= form_for(@schedule, url: url, html: {class: 'form-horizontal'}) do |f| %>
  <%= render "shared/error_messages", record: @schedule %>

  <div class="form-group">
    <%= f.label :submit_event, t("labels.submit_event.event"), class: 'control-label col-md-3' %>
    <div class="col-md-5">
      <%= collection_select(:submit_event, :event_id, @events, :id, :name, {}, class: "form-control") %>
    </div>
  </div>

  <div class="container">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to t('.cancel', default: t("helpers.links.cancel")),
          talk_path(@talk), class: 'btn btn-default' %>
  </div>
<% end %>