<%= form_for(@event, :url => url, :html => {:class => 'form-horizontal' }) do |f| %>
  <%= render "shared/error_messages", :record => @event %>

  <div class="control-group">
    <%= f.label :name, t("labels.event.name"), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :placeholder => t("placeholder.events.name"), :class => "span8" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :edition, t("labels.event.edition"), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :edition, :placeholder => t("placeholder.events.edition"), :class => "span4" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, t("labels.event.description"), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :placeholder => t("placeholder.events.description"), :rows => 5, :class => "span8" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :start_date, t("labels.event.start_date"), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_date, :class => "span4" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :end_date, t("labels.event.end_date"), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :end_date, :class => "span4" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :place, t("labels.event.place"), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :place, :placeholder => t("placeholder.events.place"), :class => "span8" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :address, t("labels.event.address"), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :placeholder => t("placeholder.events.address"), :class => "span8" %>
    </div>
  </div>  

  <div class="control-group">
    <%= f.label :tags, t("labels.event.tags"), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tags, :placeholder => t("placeholder.events.tags"), :class => "span8" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :to_public, t("labels.event.to_public"), :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :to_public %>
      <span class="help-inline"><%= t("new.event.help.to_public") %></span>
    </div>
  </div>

  <%= render "shared/invite_user", :model => @event, :users => @organizers, :key => "organizer" %>

  <%= render "shared/invite_group", :model => @event, :groups => @groups %>

  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
          events_path, :class => 'btn' %>
  </div>
  
  <span id="user_in_the_list"><%= t("new.invite.js.the_user_is_already_in_the_list") %></span>
  <span id="remove_user"><%= t("new.invite.js.remove_user") %></span>
<% end %>