      <%= form_for(@event, url: url, html: {class: 'form-horizontal'}) do |f| %>
        <%= render "shared/error_messages", record: @event %>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: t("placeholder.events.name"), class: "form-control", maxlength: 50 %>
        </div>

        <div class="form-group">
          <%= f.label :edition %>
          <%= f.text_field :edition, placeholder: t("placeholder.events.edition"), class: "form-control", maxlength: 10 %>
        </div>

        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, placeholder: t("placeholder.events.description"), rows: 5, class: "form-control tinymce_event_template" %>
        </div>

        <div class="form-group">
          <%= f.label :stocking %>
          <%= f.text_field :stocking, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :start_date %>
          <%= f.text_field :start_date, class: "form-control date" %>
        </div>

        <div class="form-group">
          <%= f.label :end_date %>
          <%= f.text_field :end_date, class: "form-control date" %>
        </div>

        <div class="form-group">
          <%= f.label :deadline_date_enrollment %>
          <%= f.text_field :deadline_date_enrollment, class: "form-control date" %>
        </div>

        <div class="form-group">
          <%= f.label :workload %>
          <%= f.text_field :workload, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :place %>
          <%= f.text_field :place, placeholder: t("placeholder.events.place"), class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :street %>
          <%= f.text_field :street, placeholder: t("placeholder.events.street"), class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :district %>
          <%= f.text_field :district, placeholder: t("placeholder.events.district"), class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :city %>
          <%= f.text_field :city, placeholder: t("placeholder.events.city"), class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :state%>
          <%= f.text_field :state, placeholder: t("placeholder.events.state"), class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :country %>
          <%= f.text_field :country, placeholder: t("placeholder.events.country"), class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :tags %>
          <%= f.text_field :tags, placeholder: t("placeholder.events.tags"), class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :image %>
          <div class="col-sm-8">
            <%= image_tag(https(@event.image.url), size: '100x100') if @event.image? %>
            <%= f.file_field :image %>

            <%= f.check_box :remove_image %>
            <%= "#{t('actions.delete.label')} #{t('mongoid.attributes.event.image')}" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :accepts_submissions %>
          <%= f.check_box :accepts_submissions %>
        </div>

        <div class="form-group">
          <%= f.label :to_public %>
          <%= f.check_box :to_public %>
        </div>

        <div class="form-group">
          <%= f.label :block_presence %>
          <%= f.check_box :block_presence %>
        </div>

        <div class="container">
          <%= render "shared/invite_user", model: @event, users: @organizers, key: "organizer" %>

          <%= f.submit class: 'btn btn-primary' %>
          <%= link_to t('helpers.links.cancel'), events_path, class: 'btn btn-default' %>
        </div>

        <span id="user_in_the_list" style="display:none"><%= t("new.invite.js.the_user_is_already_in_the_list") %></span>
        <span id="remove" style="display:none"><%= t("new.invite.js.remove") %></span>
      <% end %>

<%= tinymce_assets %>

<script>
  tinyMCE.init({
    selector: ".tinymce_event_template",
      menubar: false,
      language: "pt_BR",
      convert_urls: false,
      plugins: "textcolor code anchor",
      toolbar: [
        "undo redo | styleselect fontsizeselect forecolor backcolor | bold italic underline | alignleft aligncenter alignright alignjustify | cut copy paste | bullist numlist outdent indent | anchor code"
      ]
  });
</script>

<%= tinymce %>
