<%= render "shared/title", title: t("titles.events.index") %>

<div class="container-fluid">
  <div class="row-fluid">
    <% if logged_in? %>
      <div class="col-md-12">
        <center>
          <div class="btn-group" role="group">
            <%= link_to t("titles.events.new"), new_event_path, class: "btn btn-primary" %>
            <% if @my %>
              <%= link_to t("titles.events.all"), events_path, class: "btn btn-primary" %>
            <% else %>
              <%= link_to t("titles.events.my"), "/events?my=true", class: "btn btn-primary" %>
            <% end %>
          </div>
        </center>
      </div>
    <% end %>
  </div>

  <% if @events.blank? %>
    <h2><%= t("titles.events.no_events") %></h2>
  <% else %>
    <%= render "shared/events", events: @events, show_user: true %>
  <% end %>
</div>
