<% unless @events.blank? %>
  <h1><%= t("titles.events.index") %> (<%= @events.count %>)</h1>
<% end %>

<% if logged_in? %>
  <%= link_to t("titles.events.new"), new_event_path, :class => "btn btn-primary" %>
  <%= link_to t("titles.events.my"), "/events?my=true", :class => "btn" %>
  <br />
<% end %>

<% unless @events.blank? %>
  <%= render "shared/events" %>
<% else %>
  <h1><%= t("titles.events.no_events") %></h1>
<% end %>