<%= render "shared/header", index: :event %>

<%= render "shared/title", title: t("titles.events.index"), index: :event %>

<div class="container">
  <div class="row events-actions">
    <% if logged_in? %>
      <div class="col-md-12">
        <div class="btn-group pull-right" role="group">
          <%= link_to t("titles.events.new"), new_event_path, class: "btn btn-primary" %>&nbsp;

          <%= link_to t("titles.events.#{@my ? 'all' : 'my'}"), "/events#{@my ? '' : '?my=true'}", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>

  <% if @events.blank? %>
    <h2><%= t("titles.events.no_events") %></h2>
  <% else %>
    <%= render "shared/events", events: @events, show_user: true %>
  <% end %>
</div>
