<% unless @events.blank? %>
  <h1><%= t("titles.events.index") %> (<%= @events.count %>)</h1>
<% end %>

<% if logged_in? %>
  <%= link_to t("titles.events.new"), new_event_path, :class => "btn btn-primary" %>
  <%= link_to t("titles.events.my"), "/events?my=true", :class => "btn" %>
  <br />
<% end %>

<% unless @events.blank? %>
  <br />
  <%= form_for @event, :html => { :class => 'form-search' }, :url => events_path, :method => "get" do |f| %>
    <div class="input-append">
      <input type="text" class="span12 search-query" id="event_search" name="event[search]" value="<%= @search %>" autocomplete="off" placeholder="<%= t("placeholder.events.search") %>">
      <button type="submit" class="btn"><%= t("form.submit.search") %></button>
    </div>
  <% end %>

  <%= render "shared/events" %>
<% else %>
  <h1><%= t("titles.events.no_events") %></h1>
<% end %>