<%#= render "shared/header", index: :event %>

<%#= render "shared/title", title: t("titles.events.index"), index: :event %>
<div id="main-container" class="container">
  <div class="row">
    <h1 class="mdc-typography--subtitle1" style="width: 60px; display: block; float: left">Eventos</h1>
    <%= link_to new_event_path, class: "link-effect mdc-button undefined mdc-ripple-upgraded btn-add-event"  do %>
      <i class="material-icons mdc-button__icon">add</i>  <%= t("titles.events.new") %>
    <% end %>
  </div>

  <% if @events.blank? %>
    <h2><%= t("titles.events.no_events") %></h2>
  <% else %>
    <%= render "shared/events", events: @events, show_user: true %>
  <% end %>
</div>

<div class="page-load-status">
  <div class="infinite-scroll-request">
    carregando...
  </div>
  <p class="infinite-scroll-last">End of content</p>
  <p class="infinite-scroll-error">No more pages to load</p>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">

    $('.container').infiniteScroll({
      path: function(){
        let pageNumber = this.loadCount + 1;
        return '/events_ajax?<%= "my=" + @my.to_s + "&" if @my %>page=' + pageNumber;
      },
      append: '.mdc-layout-grid__inner',
      history: false,
      status: '.page-load-status',
      loadCount: 1
    });
  </script>
<% end %>
