<% if @presenter.event %>
  <input type="hidden" name="event_id" id="event_id" value="<%= @event.id %>" />

  <%= render "events/show/header" %>

  <%= render "events/show/about" %>

  <% if @event.schedules? %>
    <section id="schedule">
      <div class="container">
        <div class="row-fluid">
          <%= render "shared/event_schedule" %>
        </div>
      </div>
    </section>
  <% end %>

  <section id="location">
    <h4><%= t("labels.event.place") %></h4>

    <div class="container">
       <%= @event.place %> - <%= t("labels.event.address") %>: <%= @presenter.address %>
    </div>
    <% if @event.coordinates %>
      <br/>
      <div id="location-map"></div>
    <% end %>
  </section>

  <% unless @event.users.blank? %>
    <section id="organizers">
      <h4><%= t("show.event.organizers") %></h4>

      <div class="container">
        <div class="row-fluid">
          <% @event.users.by_name.each do |user| %>
            <%= render "shared/user_event", :user => user %>
          <% end %>
        </div>
      </div>
    </section>
  <% end %>

  <section id="presents">
    <div class="container">
      <% if @presenter.show_users_present %>
        <% unless @presenter.users_present.blank? %>
          <h4><%= t("show.event.presents") %> (<%= @presenter.users_present.count %>)</h4>

          <% @presenter.users_present.each do |user| %>
            <%= render "shared/user_event", :user => user %>
          <% end %>
        <% end %>
      <% else %>
        <%= render "events/show/attendance_list" %>
      <% end %>
    </div>

    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <%= render "ratings/show", :rateable => @event %>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <%= render "ratings/rate_form", :rateable => @event %>
        </div>
      </div>

      <%= render "comments/index", :commentable => @event %>
    </div>
  </section>

  <%= render "events/show/map" %>

<% else %>

  <section id="page-header">
    <div class="container">
      <div class="row-fluid">
        <h2><%= t("show.event.not_found") %></h2>
      </div>
    </div>
  </section>
<% end %>
