<% if @presenter.event %>
  <input type="hidden" name="event_id" id="event_id" value="<%= @event.id %>" />
  <input type="hidden" name="certifico_url" id="certifico_url" value="<%= @certifico_url %>" />

  <%= render "events/show/header" %>

  <%= render "events/show/about" %>

  <% if @event.schedules? %>
    <section id="schedule">
      <div class="container">
        <%= render "shared/event_schedule" %>
      </div>
    </section>
  <% end %>

  <section id="location">
    <div class="container">
      <h2 class="text-primary"><%= t("labels.event.place") %></h2>

      <h5 class="text-left"><strong><%= @event.place %></strong></h5>
      <h5 class="text-left"><strong><%= t("labels.event.address") %>: <%= @presenter.address %></strong></h5>

      <% if @event.coordinates %>
        <div id="location-map"></div>
      <% end %>
    </div>
  </section>

  <% unless @event.users.blank? %>
    <section id="organizers">
      <div class="container">
        <h2 class="text-primary"><%= t("show.event.organizers") %></h2>

        <% @event.users.by_name.each do |user| %>
          <%= render "shared/user_event", user: user %>
        <% end %>
      </div>
    </section>
  <% end %>

  <section id="presents">
    <div class="container">
      <% if @presenter.show_users_present %>
        <% unless @presenter.users_present.blank? %>
          <h2 class="text-primary"><%= t("show.event.presents") %> (<%= @presenter.users_present.count %>)</h2>

          <% @presenter.users_present.each do |user| %>
            <%= render "shared/user_event", user: user %>
          <% end %>
        <% end %>
      <% else %>
        <%= render "events/show/attendance_list" %>
      <% end %>
    </div>
  </section>

  <% if @event.issue_certificates %>
    <%= render "events/show/certificates" %>
  <% end %>

  <section class="section">
    <div class="container">
      <%= render "ratings/show", rateable: @event %>
      <%= render "ratings/rate_form", rateable: @event %>
    </div>
  </section>

  <%= render "comments/index", commentable: @event %>

  <%= render "events/show/map" %>

<% else %>

  <section id="page-header">
    <div class="container">
      <div class="row-fluid">
        <h1 class="text-primary"><%= t("show.event.not_found") %></h1>
      </div>
    </div>
  </section>
<% end %>
