<div>
  <% if @event %>
    <h2 class="text-info"><%= @event.name %> - <%= @event.edition %></h2>

    <% if @event.start_date == @event.end_date %>
      <h3 class="text-success"><%= l @event.start_date, :format => :long %></h3>
    <% else %>
      <h4 class="text-success">
        <%= t("show.event.of") %> <%= l @event.start_date, :format => :long %>
        <%= t("show.event.to") %> <%= l @event.end_date, :format => :long %>
      </h4>
    <% end %>

    <% if @open_enrollment %>
      <h4 class="text-error">
        <%= t("labels.event.deadline_date_enrollment") %>: <%= l @event.deadline_date_enrollment, :format => :long %>
      </h4>
    <% end %>

    <% if @event.stocking > 0 %>
      <p>
        <strong><%= t("labels.event.stocking") %>:</strong> <%= @event.stocking %>
      </p>
    <% end %>

    <p>
      <strong><%= t("labels.event.description") %>:</strong> <%= @event.description.html_safe %>
    </p>

    <p>
      <strong><%= t("labels.event.tags") %>:</strong> <%= @event.tags %>
    </p>

    <p>
      <strong><%= t("labels.event.place") %>:</strong> <%= @event.place %>
    </p>

    <p>
      <strong><%= t("labels.event.address") %>:</strong> <%= @event.address %>
    </p>

    <% if Rails.env != 'test' %>
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=640x300&sensor=false&zoom=16&markers=#{@event.to_coordinates[0]}%2C#{@event.to_coordinates[1]}", :class => "img-polaroid" %>
    <% end %>

    <% if @open_enrollment %>
      <br/><br/>

      <% if @new_subscription %>
        <% if @crowded %>
          <span class="btn btn-large btn-inverse disabled"><%= t("show.event.sellout") %></span>
        <% else %>
          <%= link_to t("show.event.participate"), new_enrollment_path(@event), :class => "btn btn-success btn-large" %>
        <% end %>
      <% else %>
        <% message_button = @enrollment.active? ? t("show.event.cancel_my_participation") : t("show.event.participate") %>

        <% button_type = @enrollment.active? ? "btn-warning" : "btn-success" %>

        <% if @crowded && !@enrollment.active? %>
          <span class="btn btn-large btn-inverse disabled"><%= t("show.event.sellout") %></span>
        <% else %>
          <%= link_to message_button, edit_enrollment_path(@event, @enrollment, :active), :class => "btn btn-large #{button_type}" %>
        <% end %>
      <% end %>
    <% end %>

    <hr>

    <% if @authorized %>
      <%= link_to t("titles.events.edit"), edit_event_path(@event), :class => "btn btn-primary" %>

      <%= link_to t("titles.schedules.new"), new_schedule_path(@event), :class => "btn btn-success" %>
      <hr>
    <% end %>

    <%= render "shared/event_schedule" %>

    <% unless @event.users.blank? %>
      <% count = @event.users.count %>
      <h4><%= t("show.event.organizers") %> (<%= count %>)</h4>

      <% @event.users.by_name.each do |user| %>
        <%= render "shared/user", :user => user %><br/><br/>
      <% end %>
    <% end %>

    <% unless @event.groups.blank? %>
      <% group = t("show.event.groups") %>
      <% count = @event.groups.count %>
      <h4><%= group[count > 1 ? :other : :one] %> (<%= count %>)</h4>

      <% @event.groups.by_name.each do |group| %>
        <%= render "shared/group", :group => group %><br/><br/>
      <% end %>
    <% end %>

    <% if @show_users_present %>
      <% unless @users_present.blank? %>
          <h4><%= t("show.event.presents") %> (<%= @users_present.count %>)</h4>

          <% @users_present.each do |user| %>
            <%= render "shared/user", :user => user %><br/><br/>
          <% end %>
      <% end %>
    <% else %>
      <% unless @users_active.blank? %>
        <h4><%= t("show.event.enrolled") %> (<%= @users_active.count %>)</h4>

        <% if @authorized %>
          <table class="table">
            <thead>
              <tr>
                <th><%= t("show.event.table.number") %></th>
                <th><%= t("show.event.table.name") %></th>
                <th><%= t("show.event.table.email") %></th>
                <% if @can_record_presence %>
                  <th><%= t("show.event.table.presence") %></th>
                <% end %>  
              </tr>
            </thead>
            <tbody>
            <% counter = 0 %>
            <% @users_active.each do |h| %>
              <% message_button = h[:enrollment].present? ? t("show.event.undo_presence") : t("show.event.record_presence") %>

              <% button_type = h[:enrollment].present? ? "btn-warning" : "btn-primary" %>

              <tr>
                <td><%= counter += 1 %></td>
                <td><%= h[:enrollment].user.name %></td>
                <td><%= h[:enrollment].user.email %></td>
                <% if @can_record_presence %>
                  <td>
                    <%= link_to message_button, edit_enrollment_path(@event, h[:enrollment], :present), :class => "btn #{button_type}", :id => "user_id_#{h[:enrollment].user.id}" %>
                  </td>
                <% end %>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% else %>
          <% @users_active.each do |h| %>
            <%= render "shared/user", :user => h[:enrollment].user %><br/><br/>
          <% end %>
        <% end %>        
      <% end %>
    <% end %>
  <% else %>
    <h1><%= t("show.event.not_found") %></h1>
  <% end %>
</div>
