  <%= hidden_field_tag :event_id, @event.slug %>

  <%= render "events/show/header" %>
  <%= render "events/show/about" %>

  <% if @event.schedules? %>
    <section id="schedule">
      <div class="container">
        <%= render "shared/event_schedule" %>
      </div>
    </section>
  <% end %>

  <% unless @event.online? %>
    <section id="location">
      <div class="container">
        <h2 class="text-primary"><%= t("labels.event.place") %></h2>

        <div class="text">
          <p><%= @event.place %></p>
          <p><%= t("labels.event.address") %>: <%= @presenter.address %></p>
        </div>

        <% if @event.coordinates %>
          <div id="location-map"></div>
        <% end %>
      </div>
    </section>
  <% end %>

  <% if @event.users? %>
    <section id="organizers">
      <div class="container">
        <h2 class="text-primary"><%= t("show.event.organizers") %></h2>

        <div class="row justify-content-left">
          <% @event.users.each do |user| %>
            <%= render "shared/user_event", user: user %>
          <% end %>
        </div>
      </div>
    </section>
  <% end %>

  <section id="presents">
    <div class="container">
      <% if @presenter.show_users_present %>
        <% if @presenter.users_active.any? %>
          <h2 class="text-primary"><%= t("show.event.enrolled") %> (<%= @presenter.users_active.size %>)</h2>

          <div class="row justify-content-left">
            <% @presenter.users_active.each do |record| %>
              <%= render "shared/user_event", user: record[:user] %>
            <% end %>
          </div>
        <% end %>

        <% if @presenter.users_present.any? %>
          <h2 class="text-primary"><%= t("show.event.presents") %> (<%= @presenter.users_present.size %>)</h2>

          <div class="row justify-content-left">
            <% @presenter.users_present.each do |user| %>
              <%= render "shared/user_event", user: user %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <%= render "events/show/attendance_list" %>
      <% end %>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <%= render "ratings/show", rateable: @event %>
      <%= render "ratings/rate_form", rateable: @event %>
    </div>
  </section>

  <%= render "comments/index", commentable: @event %>
  <%= render "events/show/map" %>
