  <input type="hidden" name="event_id" id="event_id" value="<%= @event._slugs.first %>" />

  <%= render "events/show/header" %>

  <%= render "events/show/about" %>

  <% if @event.schedules? %>
    <section id="schedule">
      <div class="container">
        <%= render "shared/event_schedule" %>
      </div>
    </section>
  <% end %>

  <section id="location">
    <div class="container">
      <h2 class="text-primary"><%= t("labels.event.place") %></h2>

      <div class="text">
        <p><%= @event.place %></p>
        <p><%= t("labels.event.address") %>: <%= @presenter.address %></p>
      </div>

      <% if @event.coordinates %>
        <div id="location-map"></div>
      <% end %>
    </div>
  </section>

  <% unless @event.users.blank? %>
    <section id="organizers">
      <div class="container">
        <h2 class="text-primary"><%= t("show.event.organizers") %></h2>

        <div class="row justify-content-left">
          <% @event.users.by_name.each do |user| %>
            <%= render "shared/user_event", user: user %>
          <% end %>
        </div>
      </div>
    </section>
  <% end %>

  <section id="presents">
    <div class="container">
      <% if @presenter.show_users_present %>
        <% unless @presenter.users_active.blank? %>
          <div class="container">
            <h2 class="text-primary"><%= t("show.event.enrolled") %> (<%= @presenter.users_active.size %>)</h2>

            <div class="row justify-content-left">
              <% @presenter.users_active.each do |record| %>
                <%= render "shared/user_event", user: record[:user] %>
              <% end %>
            </div>
          </div>
        <% end %>

        <% unless @presenter.users_present.blank? %>
          <div class="container">
            <h2 class="text-primary"><%= t("show.event.presents") %> (<%= @presenter.users_present.size %>)</h2>

            <div class="row justify-content-left">
              <% @presenter.users_present.each do |user| %>
                <%= render "shared/user_event", user: user %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <%= render "events/show/attendance_list" %>
      <% end %>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <%= render "ratings/show", rateable: @event %>
      <%= render "ratings/rate_form", rateable: @event %>
    </div>
  </section>

  <%= render "comments/index", commentable: @event %>

  <%= render "events/show/map" %>
