<div class="row-fluid">
    <div class="span12">
      <div class="page-header">
        <div class="row-fluid">
          <div class="span4">
             <h1><%= t("titles.events.index") %></h1>
          </div>
          <% if logged_in? %>
          <div class="span8">
            <ul id="work-filter">
              <li><%= link_to t("titles.events.new"), new_event_path, :class => "m-btn blue" %></li>
              <% if @my %>
              <li><%= link_to t("titles.events.all"), "/events", :class => "m-btn" %></li>
              <% else %>
              <li><%= link_to t("titles.events.my"), "/events?my=true", :class => "m-btn" %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<div>
  <% if @event %>
    <input type="hidden" name="event_id" id="event_id" value="<%= @event.id %>" />
    <h2 class="text-info"><%= @event.name %> - <%= @event.edition %></h2>
    <div class="row-fluid">
      <div class="span12">
        <%= render "ratings/show", :rateable => @event %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span6">
        <% if @event.start_date == @event.end_date %>
          <h3 class="text-success"><%= l @event.start_date, :format => :long %></h3>
        <% else %>
          <h4 class="text-success">
            <%= t("show.event.of") %> <%= l @event.start_date, :format => :long %>
            <%= t("show.event.to") %> <%= l @event.end_date, :format => :long %>
          </h4>
        <% end %>
      </div>
    </div>

    <% if @open_enrollment %>
      <h4 class="text-error">
        <%= t("labels.event.deadline_date_enrollment") %>: <%= l @event.deadline_date_enrollment, :format => :long %>
      </h4>
    <% end %>

    <% if @event.stocking > 0 %>
      <p>
        <strong><%= t("labels.event.stocking") %>:</strong> <%= @event.stocking %>
      </p>
    <% end %>

    <p>
      <strong><%= t("labels.event.description") %>:</strong> <%= @event.description.html_safe %>
    </p>

    <p>
      <strong><%= t("labels.event.tags") %>:</strong> <%= @event.tags %>
    </p>

    <p>
      <strong><%= t("labels.event.place") %>:</strong> <%= @event.place %>
    </p>

    <p>
      <strong><%= t("labels.event.address") %>:</strong> <%= @event.address %>
    </p>

    <hr>

    <% if @open_enrollment %>
      <% if @new_subscription %>
        <% if @crowded %>
          <span class="m-btn big disabled"><%= t("show.event.sellout") %></span>
        <% else %>
          <%= link_to t("show.event.participate"), new_enrollment_path(@event), :class => "m-btn green big" %>
        <% end %>
      <% else %>
        <% message_button = @enrollment.active? ? t("show.event.cancel_my_participation") : t("show.event.participate") %>

        <% button_type = @enrollment.active? ? "red" : "green" %>

        <% if @crowded && !@enrollment.active? %>
          <span class="m-btn big disabled"><%= t("show.event.sellout") %></span>
        <% else %>
          <%= link_to message_button, edit_enrollment_path(@event, @enrollment, :active), :class => "m-btn big #{button_type}" %>
        <% end %>
      <% end %>
    <% end %>

    <% if logged_in? && @event.is_in_progress? %>
      <% if current_user.present_at? @event %>
        <a href="" data="<%= t("show.event.btn_presence_checkin") %>" class="m-btn big btn-present btn-info disabled">
          <%= t("show.event.btn_presence_checkin") %>
        </a>
      <% else %>
        <% if (@crowded && @enrollment && @enrollment.active?) || !@crowded %>
          <a href="" data="<%= t("show.event.btn_presence_checkin") %>" class="m-btn big btn-present btn-danger">Check-in</a>
        <% end %>
      <% end %>
    <% end %>

    <% if @open_enrollment || @event.is_in_progress? %>
      <hr>
    <% end %>
    
    <% if Rails.env != 'test' %>
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=640x300&sensor=false&zoom=16&markers=#{@event.to_coordinates[0]}%2C#{@event.to_coordinates[1]}", :class => "img-polaroid" %>
    <% end %>

    <hr>

    <% if @authorized %>
      <%= link_to t("titles.events.edit"), edit_event_path(@event), :class => "m-btn blue" %>

      <%= link_to t("titles.schedules.new"), new_schedule_path(@event), :class => "m-btn green" %>
      <hr>
    <% end %>

    <%= render "shared/event_schedule" %>

    <% unless @event.users.blank? %>
      <% count = @event.users.count %>
      <h4><%= t("show.event.organizers") %> (<%= count %>)</h4>

      <% @event.users.by_name.each do |user| %>
        <%= render "shared/user", :user => user %><br/><br/>
      <% end %>
    <% end %>

    <% unless @event.groups.blank? %>
      <% group = t("show.event.groups") %>
      <% count = @event.groups.count %>
      <h4><%= group[count > 1 ? :other : :one] %> (<%= count %>)</h4>

      <% @event.groups.by_name.each do |group| %>
        <%= render "shared/group", :group => group %><br/><br/>
      <% end %>
    <% end %>

    <% if @show_users_present %>
      <% unless @users_present.blank? %>
        <h4><%= t("show.event.presents") %> (<%= @users_present.count %>)</h4>

        <% @users_present.each do |user| %>
          <%= render "shared/user", :user => user %><br/><br/>
        <% end %>
      <% end %>
    <% else %>
      <% unless @users_active.blank? %>
        <h4><%= t("show.event.enrolled") %> (<%= @users_active.count %>)</h4>

        <% if @authorized %>
          <table class="table">
            <thead>
              <tr>
                <th><%= t("show.event.table.number") %></th>
                <th><%= t("show.event.table.name") %></th>
                <th><%= t("show.event.table.email") %></th>
                <% if @can_record_presence %>
                  <th><%= t("show.event.table.presence") %></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
            <% counter = 0 %>
            <% @users_active.each do |h| %>
              <% message_button = h[:enrollment].present? ? t("show.event.undo_presence") : t("show.event.record_presence") %>

              <% button_type = h[:enrollment].present? ? "red" : "blue" %>

              <tr>
                <td><%= counter += 1 %></td>
                <td><%= h[:enrollment].user.name %></td>
                <td><%= h[:enrollment].user.email %></td>
                <% if @can_record_presence %>
                  <td>
                    <%= link_to message_button, edit_enrollment_path(@event, h[:enrollment], :present), :class => "m-btn #{button_type}", :id => "user_id_#{h[:enrollment].user.id}" %>
                  </td>
                <% end %>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% else %>
          <% @users_active.each do |h| %>
            <%= render "shared/user", :user => h[:enrollment].user %><br/><br/>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= render "ratings/rate_form", :rateable => @event %>

    <%= render "comments/index", :commentable => @event %>
  <% else %>
    <h1><%= t("show.event.not_found") %></h1>
  <% end %>
</div>
