  <input type="hidden" name="event_id" id="event_id" value="<%= @event._slugs.first %>" />

  <%= render "events/show/header" %>

  <%= render "events/show/about" %>

  <% if @event.schedules? %>
    <section id="schedule" class="schedule">
      <div class="container">
        <%= render "shared/event_schedule" %>
      </div>
    </section>
  <% end %>

  <section id="location">
    <% if @event.coordinates %>
      <div id="location-map" class="location-map">
        <div class="text mdc-elevation--z14">
          <h1 class="mdc-typography--subtitle1"><%= @event.place %></h1>
          <p><%= @presenter.address %></p>
        </div>
      </div>
    <% end %>
  </section>

  <% unless @event.users.blank? %>
    <section id="organizers" class="about">
      <div class="container organizers">
        <h2 class="mdc-typography--headline6"><%= t("show.event.organizers") %></h2>

        <div class="mdc-layout-grid__inner"  style="margin: 20px 0 0 0">
          <% @event.users.by_name.each do |user| %>
            <%= render "shared/user_event", user: user %>
          <% end %>
        </div>
      </div>
    </section>
  <% end %>

  <%= render "events/show/map" %>
