<% if @presenter.event %>
  <input type="hidden" name="event_id" id="event_id" value="<%= @event.id %>" />

  <%= render "events/show/header" %>

  <%= render "events/show/about" %>

  <% if @event.schedules? %>
    <section id="schedule">
      <div class="container">
        <div class="row-fluid">
          <%= render "shared/event_schedule" %>
        </div>
      </div>
    </section>
  <% end %>

  <section id="location">
    <h4><%= t("labels.event.place") %></h4>

    <div class="container">
       <%= @event.place %> - <%= t("labels.event.address") %>: <%= @presenter.address %>
    </div>
    <br/>
    <div id="location-map"></div>
  </section>

  <% unless @event.users.blank? %>
    <section id="organizers">
      <h4><%= t("show.event.organizers") %></h4>

      <div class="container">
        <div class="row-fluid">
          <% @event.users.by_name.each do |user| %>
            <%= render "shared/user_event", :user => user %>
          <% end %>
        </div>
      </div>
    </section>
  <% end %>

  <section id="presents">
    <div class="container">
      <% if @presenter.show_users_present %>
        <% unless @presenter.users_present.blank? %>
          <h4><%= t("show.event.presents") %> (<%= @presenter.users_present.count %>)</h4>

          <% @presenter.users_present.each do |user| %>
            <%= render "shared/user_event", :user => user %>
          <% end %>
        <% end %>
      <% else %>
        <% unless @presenter.users_active.blank? %>
          <h4><%= t("show.event.enrolled") %> (<%= @presenter.users_active.count %>)</h4>

          <% if @presenter.authorized %>
            <table class="table">
              <thead>
                <tr>
                  <th><%= t("show.event.table.number") %></th>
                  <th><%= t("show.event.table.name") %></th>
                  <th><%= t("show.event.table.email") %></th>
                  <% if @presenter.can_record_presence %>
                    <th><%= t("show.event.table.presence") %></th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
              <% counter = 0 %>
              <% @presenter.users_active.each do |h| %>
                <% message_button = h[:enrollment].present? ? t("show.event.undo_presence") : t("show.event.record_presence") %>

                <% button_type = h[:enrollment].present? ? "red" : "blue" %>

                <tr>
                  <td><%= counter += 1 %></td>
                  <td><%= h[:enrollment].user.name %></td>
                  <td><%= h[:enrollment].user.email %></td>
                  <% if @presenter.can_record_presence %>
                    <td>
                      <%= link_to message_button, edit_event_enrollment_path(@event, :present, h[:enrollment]), :class => "m-btn #{button_type}", :id => "user_id_#{h[:enrollment].user.id}" %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% else %>
            <% @presenter.users_active.each do |h| %>
              <%= render "shared/user_event", :user => h[:enrollment].user %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <%= render "ratings/show", :rateable => @event %>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <%= render "ratings/rate_form", :rateable => @event %>
        </div>
      </div>

      <%= render "comments/index", :commentable => @event %>
    </div>
  </section>

  <%= render "events/show/map" %>

<% else %>

  <section id="page-header">
    <div class="container">
      <div class="row-fluid">
        <h2><%= t("show.event.not_found") %></h2>
      </div>
    </div>
  </section>
<% end %>
