<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h1><%= t("ranking.title") %></h1>
    </div>
    <div class="span5">
      <table class="table table-condensed">
        <% unless @users_public_talks.blank? %>
          <tr>
            <td colspan="2"><h4><%= t("ranking.public_talks") %></h4></td>
          </tr>
          <% @users_public_talks.each do |user| %>
            <tr>
              <td><%= render "shared/user", :user => user %></td>
              <td><span class="badge badge-inverse"><%= user.counter_public_talks %></span></td>
            </tr>
          <% end %>
        <% end %>

        <% unless @talks.blank? %>
          <tr>
            <td colspan="2"><h4><%= t("ranking.talks") %></h4></td>
          </tr>
          <% @talks.each do |talk| %>
            <tr>
              <td><%= link_to talk.title, talk_path(talk) %></td>
              <td><span class="badge badge-inverse"><%= talk.counter_presentation_events %></span></td>
            </tr>
          <% end %>
        <% end %>

        <% unless @events.blank? %>
          <tr>
            <td colspan="2"><h4><%= t("ranking.events") %></h4></td>
          </tr>
          <% @events.each do |event| %>
            <tr>
              <td><%= link_to "#{event.name} - #{event.edition}", event_path(event) %></td>
              <td><span class="badge badge-inverse"><%= event.counter_present_users %></span></td>
            </tr>
          <% end %>
        <% end %>

        <% unless @watched_talks.blank? %>
          <tr>
            <td colspan="2"><h4><%= t("ranking.watchers") %></h4></td>
          </tr>
          <% @watched_talks.each do |user| %>
            <tr>
              <td><%= render "shared/user", :user => user %></td>
              <td><span class="badge badge-inverse"><%= user.counter_watched_talks %></span></td>
            </tr>
          <% end %>
        <% end %>

        <% unless @organizers.blank? %>
          <tr>
            <td colspan="2"><h4><%= t("ranking.organizers") %></h4></td>
          </tr>
          <% @organizers.each do |user| %>
            <tr>
              <td><%= render "shared/user", :user => user %></td>
              <td><span class="badge badge-inverse"><%= user.counter_organizing_events %></span></td>
            </tr>
          <% end %>
        <% end %>

        <% unless @talkers.blank? %>
          <tr>
            <td colspan="2"><h4><%= t("ranking.speakers") %></h4></td>
          </tr>
          <% @talkers.each do |user| %>
            <tr>
              <td><%= render "shared/user", :user => user %></td>
              <td><span class="badge badge-inverse"><%= user.counter_presentation_events %></span></td>
            </tr>
          <% end %>
        <% end %>

        <% unless @participations.blank? %>
          <tr>
            <td colspan="2"><h4><%= t("ranking.participants") %></h4></td>
          </tr>
          <% @participations.each do |user| %>
            <tr>
              <td><%= render "shared/user", :user => user %></td>
              <td><span class="badge badge-inverse"><%= user.counter_participation_events %></span></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>
