<%= render "shared/title", title: t("titles.ranking.index") %>
<%= render 'shared/ranking', users: @users_public_talks, field: 'public_talks' %>
<%= render 'shared/ranking', users: @watched_talks, field: 'watched_talks' %>
<%= render 'shared/ranking', users: @organizers, field: 'organizing_events' %>
<%= render 'shared/ranking', users: @talkers, field: 'presentation_events' %>
<%= render 'shared/ranking', users: @participations, field: 'participation_events' %>

<% if @talks.any? %>
  <div class="container">
    <h2 class="text-primary"><%= t("titles.ranking.talks") %></h2>
    <% @talks.each do |talk| %>
      <p>
        <span class="badge badge-light badge-custom shadow">
          <%= link_to talk.title, talk_path(talk) %>
          <span class="badge badge-pill badge-dark"><%= talk.counter_presentation_events %></span>
        </span>
      </p>
    <% end %>
    <hr/>
  </div>
<% end %>

<% if @events.any? %>
  <div class="container">
    <h2 class="text-primary"><%= t("titles.ranking.events") %></h2>
    <% @events.each do |event| %>
      <p>
        <span class="badge badge-light badge-custom shadow">
          <%= link_to event.name_edition, event_path(event) %>
          <span class="badge badge-pill badge-dark"><%= event.counter_present_users %></span>
        </span>
      </p>
    <% end %>
    <hr/>
  </div>
<% end %>
