<%= form_tag(event_export_subscribers_path(@event), html: { class: 'form-horizontal' }) do %>
  <div class="form-group">
    <%= label_tag(:profile, t('titles.export_subscribers.profile'), class: 'control-label col-md-2') %>

    <div class="col-md-2">
      <%= select_tag(:profile, options_for_select(@profiles), class: "form-control") %>
    </div>
  </div>

  <div class="container">
    <%= submit_tag(t('actions.export'), id: 'commit', class: 'btn btn-primary') %>
    <%= link_to t('helpers.links.cancel'), event_path(@event), class: 'btn btn-default' %>
  </div>
<% end %>