<%= render "shared/header", index: :event %>
<%= render "shared/title", title: t("titles.enrollments.title"), index: :event %>

<div class="container">
  <div class="card">
    <div class="card-body mx-4">
      <h2><%= t("titles.enrollments.edit") %> <b><%= @event.name_edition %></b></h2>

      <%= render 'form', url: event_enrollment_path %>
    </div>
  </div>
</div>
