<div class="container">
  <div class="fade show" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">
    <div class="modal-dialog cascading-modal" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
          <h4 class="title"><i class="fa fa-door-open"></i> <%= t('menu.signin') %></h4>
        </div>
        <%= render 'shared/flash_messages' %>
        <!--Body-->
        <div class="modal-body">
          <%= form_tag login_path do %>
            <div class="md-form form-sm mb-3">
              <i class="fa fa-envelope"></i> <%= label_tag :email, t("mongoid.attributes.user.email") %>
              <%= email_field_tag :email, nil, class: "form-control", autofocus: true %>
            </div>

            <div class="md-form form-sm mb-3">
              <i class="fa fa-lock"></i> <%= label_tag :password, t("mongoid.attributes.user.password") %>
              <%= password_field_tag :password, nil, class: "form-control" %>
            </div>

            <div class="text-center">
              <%= submit_tag t("form.submit.login"), class: 'btn btn-primary' %>
            </div>
            <%= hidden_field_tag 'redirect', @redirect %>
          <% end %>
        </div>
        <!--Footer-->
        <div class="modal-footer" style="justify-content: center;">
          <p><%= t("login.if_you_do_not_have_an_account_yet") %> <%= link_to t("login.register_here"), new_user_path %></p>
          <p><%= link_to t("new.user.forgotten_password"), new_password_reset_path %></p>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
</div>
