<h1><%= t("titles.login.new") %></h1>
<p class="text-warning">
  <%= t("login.about_html", :url => new_user_path) %>
</p>

<%= form_tag login_path, :html => {:class => 'form-signin' } do %>
  <div class="control-group">
    <%= label_tag :email, t("labels.user.email"), :class => 'control-label' %>
    <div class="controls">
      <%= email_field_tag :email %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :password, t("labels.user.password"), :class => 'control-label' %>
    <div class="controls">
      <%= password_field_tag :password %>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_tag t("form.submit.login"), :class => 'btn btn-primary' %>
  </div>
<% end %>