<%= form_for(@external_event, url: url, html: {class: 'form-horizontal'}) do |f| %>
  <%= render "shared/error_messages", record: @external_event %>

  <div class="md-form">
    <%= f.text_field :name, class: "form-control" %>
    <%= f.label :name, t("labels.external_event.name") %>
  </div>

  <div class="md-form">
    <%= f.text_field :date, class: "form-control date col-md-2" %>
    <%= f.label :date, t("labels.external_event.date") %>
  </div>

  <div class="md-form">
    <%= f.text_field :place, class: "form-control" %>
    <%= f.label :place, t("labels.external_event.place") %>
  </div>

  <div class="md-form">
    <%= f.url_field :url, class: "form-control" %>
    <%= f.label :url, t("labels.external_event.url") %>
  </div>

  <div class="form-group">
    <%= f.check_box :active %>
    <%= f.label :active %>
  </div>

  <div class="container">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to t('.cancel', default: t("helpers.links.cancel")),
        talk_path(@talk), class: 'btn btn-default' %>
  </div>
<% end %>
