  <section id="actions" style="text-align: center;">
    <%= render "shared/flash_messages" %>
    <% if logged_in? && @event_presenter.in_progress? %>
      <% if current_user.present_at? @event %>
        <a href="" data="<%= t("show.event.btn_presence_checkin") %>" class="btn btn-info btn-present disabled">
          <%= t("show.event.btn_presence_checkin") %>
        </a>
      <% else %>
        <% if @event_presenter.show_checkin %>
          <a href="" data="<%= t("show.event.btn_presence_checkin") %>" class="btn btn-primary btn-present"><%= t("show.event.btn_checkin") %></a>
        <% end %>
      <% end %>
    <% end %>
  </section>
