  <section id="actions" style="text-align: center;">
    <%= render "shared/flash_messages" %>

    <div class="row-fluid">
      <div class="col-md-12">
        <% if @presenter.authorized %>
          <%= link_to t("titles.events.edit"), edit_event_path(@event), class: "btn btn-primary" %>&nbsp;

          <%= link_to t("actions.delete.label"), event_path(@event), class: "btn btn-danger", id: "delete_event_id_#{@event.id}", method: :delete, data: { confirm: t("actions.delete.confirm") } %>&nbsp;

          <%= link_to t("titles.schedules.btn_new"), new_event_schedule_path(@event), class: "btn btn-primary" %>&nbsp;

          <%= link_to t("show.event.export_subscribers"), new_event_export_subscriber_path(@event), class: "btn btn-primary" %>
        <% end %>

        <% if logged_in? && @presenter.in_progress? %>
          <% if current_user.present_at? @event %>
            <a href="" data="<%= t("show.event.btn_presence_checkin") %>" class="btn btn-info btn-present disabled">
              <%= t("show.event.btn_presence_checkin") %>
            </a>
          <% else %>
            <% if @presenter.show_checkin %>
              <a href="" data="<%= t("show.event.btn_presence_checkin") %>" class="btn btn-primary btn-present"><%= t("show.event.btn_checkin") %></a>
            <% end %>
          <% end %>
        <% end %>

        <% if @presenter.open_enrollment %>
          <% if @presenter.new_subscription %>
            <% if @presenter.crowded %>
              <span class="btn btn-default disabled"><%= t("show.event.sellout") %></span>
            <% else %>
              <%= link_to t("show.event.participate"), new_event_enrollment_path(@event, :active), class: "btn btn-primary" %>
            <% end %>
          <% else %>
            <% message_button = @presenter.enrollment.active? ? t("show.event.cancel_my_participation") : t("show.event.participate") %>

            <% button_type = @presenter.enrollment.active? ? "btn-danger" : "btn-warning" %>

            <% if @presenter.crowded && !@presenter.enrollment.active? %>
              <span class="btn btn-default disabled"><%= t("show.event.sellout") %></span>
            <% else %>
              <%= link_to message_button, edit_event_enrollment_path(@event, :active, @presenter.enrollment), class: "btn #{button_type}" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>

  <section>
    <div></div>
  </section>
