        <% unless @presenter.users_active.blank? %>
          <h2 class="text-primary"><%= t("show.event.enrolled") %> (<%= @presenter.users_active.size %>)</h2>

          <% if @presenter.authorized %>
            <h2 class="text-primary"><%= t("show.event.presents") %> (<%= @presenter.users_present.size %>)</h2>

            <table class="table table-hover table-responsive">
              <thead class="thead-dark">
                <tr>
                  <th width="10%"><%= t("show.event.attendance_table.number") %></th>
                  <th width="10%"><%= t("show.event.attendance_table.photo") %></th>
                  <th width="40%"><%= t("show.event.attendance_table.name") %></th>
                  <th width="30%"><%= t("show.event.attendance_table.email") %></th>
                  <% if @presenter.can_record_presence %>
                    <th width="10%"><%= t("show.event.attendance_table.presence") %></th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
              <% @presenter.users_active.each_with_index do |record, counter| %>
                <tr>
                  <td align="center"><%= counter += 1 %></td>
                  <td align="center"><%= render "shared/user_thumb", user: record[:user] %></td>
                  <td><%= record[:user].name %></td>
                  <td><%= record[:user].email %></td>
                  <td>
                    <% if @presenter.can_record_presence %>
                      <% action = record[:enrollment].present? ? 'undo_presence' : 'add_presence' %>
                      <% button = record[:enrollment].present? ? 'danger' : 'primary' %>

                      <%= link_to t("show.event.#{action}"), "",
                                  class: "btn btn-#{button} btn-user-presence",
                                  data_add: t('show.event.add_presence'),
                                  data_undo: t("show.event.undo_presence"),
                                  id: record[:user].slug %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% else %>
            <div class="content">
              <div class="row justify-content-left">
                <% @presenter.users_active.each do |record| %>
                  <%= render "shared/user_event", user: record[:user] %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
