        <% unless @presenter.users_active.blank? %>
          <h4><%= t("show.event.enrolled") %> (<%= @presenter.users_active.count %>)</h4>

          <% if @presenter.authorized %>
            <table class="table">
              <thead>
                <tr>
                  <th><%= t("show.event.attendance_table.number") %></th>
                  <th><%= t("show.event.attendance_table.photo") %></th>
                  <th><%= t("show.event.attendance_table.name") %></th>
                  <th><%= t("show.event.attendance_table.email") %></th>
                  <% if @presenter.can_record_presence %>
                    <th><%= t("show.event.attendance_table.presence") %></th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
              <% counter = 0 %>
              <% @presenter.users_active.each do |h| %>
                <% message_button = h[:enrollment].present? ? t("show.event.undo_presence") : t("show.event.record_presence") %>

                <% button_type = h[:enrollment].present? ? "red" : "blue" %>

                <tr>
                  <td><%= counter += 1 %></td>
                  <td><%= render "shared/user_photo", user: h[:enrollment].user %></td>
                  <td><%= h[:enrollment].user.name %></td>
                  <td><%= h[:enrollment].user.email %></td>
                  <% if @presenter.can_record_presence %>
                    <td>
                      <%= link_to message_button, edit_event_enrollment_path(@event, :present, h[:enrollment]), :class => "m-btn #{button_type}", :id => "user_id_#{h[:enrollment].user.id}" %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% else %>
            <% @presenter.users_active.each do |h| %>
              <%= render "shared/user_event", :user => h[:enrollment].user %>
            <% end %>
          <% end %>
        <% end %>