<section class="section" id="certificates">
  <div class="container">
    <h2 class="text-primary"><%= t("show.event.certificates") %></h2>
    <h4><%= t('show.event.issue_certificates_html') %></h4>
    <hr>

    <button class="btn btn-success" id="issue_certificates_speakers"><%= t('show.event.issue_certificates.speakers') %></button>

    <button class="btn btn-success" id="issue_certificates_organizers"><%= t('show.event.issue_certificates.organizers') %></button>

    <button class="btn btn-success" id="issue_certificates_attendees"><%= t('show.event.issue_certificates.attendees') %></button>

    <button class="btn btn-success" id="issue_certificates_all_participants"><%= t('show.event.issue_certificates.all_participants') %></button>

    <h4 id="issuing_certificates" style="display:none"><%= t("show.event.issuing_certificates") %></h4>
    <hr>
  </div>
</section>
