  <%= image_tag(@event.image_path, class: 'img-fluid') %>

  <div id="page-content" class="container row-fluid">
    <h1 class="text-center"><%= @event.name_edition %></h1>
    <h3 class="text-center"><%= @event.long_date %></h3>
    <h3 class="text-center"><%= @event.location %></h3>
    <h3 class="text-center"><%= t("mongoid.attributes.event.stocking") %>: <%= @event.stocking %></h3>

    <% if @presenter.open_enrollment %>
      <h3 class="text-center">
        <%= t('mongoid.attributes.event.deadline_date_enrollment') %>: <%= l(@event.deadline_date_enrollment, format: :long) %>
      </h3>
    <% end %>
  </div>
