  <section id="page-header">
    <img src="<%= https(@event.image.url) %>" class="img-fluid">

    <div id="page-content" class="row-fluid">
      <p class="page-header-title"><%= @event.name_edition %></p>

      <p class="page-header-text"><%= @event.long_date %></p>

      <p class="page-header-text"><%= @event.location %></p>

      <p class="page-header-text"><%= t("labels.event.stocking") %>: <%= @event.stocking %></p>

      <% if @presenter.open_enrollment %>
        <p class="page-header-text">
          <%= "#{t('labels.event.deadline_date_enrollment')}: #{l(@event.deadline_date_enrollment, format: :long)}" %>
        </p>
      <% end %>
    </div>
  </section>
