  <section id="page-header">
    <div class="row-fluid">
      <div class="span12">
        <% if @presenter.authorized %>
          <%= link_to t("titles.events.edit"), edit_event_path(@event), :class => "m-btn blue" %>

          <%= link_to t("titles.schedules.new"), new_event_schedule_path(@event), :class => "m-btn green" %>
        <% end %>

        <% if logged_in? && @presenter.in_progress? %>
          <% if current_user.present_at? @event %>
            <a href="" data="<%= t("show.event.btn_presence_checkin") %>" class="m-btn btn-present btn-info disabled">
              <%= t("show.event.btn_presence_checkin") %>
            </a>
          <% else %>
            <% if @presenter.show_checkin %>
              <a href="" data="<%= t("show.event.btn_presence_checkin") %>" class="m-btn blue btn-present">Check-in</a>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="container">
      <div class="row-fluid">
        <h2><%= @event.name %></h2>

        <% if @event.start_date == @event.end_date %>
          <h4><%= l @event.start_date, :format => :long %> - <%= @event.place %></h4>
        <% else %>
          <h4>
            <%= t("show.event.of") %> <%= l @event.start_date, :format => :long %>
            <%= t("show.event.to") %> <%= l @event.end_date, :format => :long %>
            - <%= @event.place %>
          </h4>
        <% end %>

        <% if @presenter.open_enrollment %>
          <% if @presenter.new_subscription %>
            <% if @presenter.crowded %>
              <span class="m-btn disabled"><%= t("show.event.sellout") %></span>
            <% else %>
              <%= link_to t("show.event.participate"), new_event_enrollment_path(@event, :active), :class => "m-btn green" %>
            <% end %>
          <% else %>
            <% message_button = @presenter.enrollment.active? ? t("show.event.cancel_my_participation") : t("show.event.participate") %>

            <% button_type = @presenter.enrollment.active? ? "red" : "purple" %>

            <% if @presenter.crowded && !@presenter.enrollment.active? %>
              <span class="m-btn disabled"><%= t("show.event.sellout") %></span>
            <% else %>
              <%= link_to message_button, edit_event_enrollment_path(@event, :active, @presenter.enrollment), :class => "m-btn #{button_type}" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>