  <section id="page-header">
    <div class="container">
      <div class="row-fluid">
        <h2><%= @event.name %> - <%= @event.edition %></h2>

        <% if @event.start_date == @event.end_date %>
          <h4><%= l @event.start_date, :format => :long %> - <%= @event.place %></h4>
        <% else %>
          <h4>
            <%= t("show.event.of") %> <%= l @event.start_date, format: :long %>
            <%= t("show.event.to") %> <%= l @event.end_date, format: :long %>
            - <%= @event.place %>
          </h4>
        <% end %>
      </div>
    </div>
  </section>