  <style type="text/css">
    #page-header {
      background-image: url(<%= https(@event.image.url) %>);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
    }
  </style>

  <section id="page-header">
    <div id="page-content" class="row-fluid">
      <h2><%= @event.name_edition %></h2>

      <h4><%= @event.long_date %></h4>

      <h4><%= @event.location %></h4>

      <h4 class="text-danger"><%= t("labels.event.stocking") %>: <%= @event.stocking %></h4>

      <h4 class="text-danger"><%= "#{t('labels.event.deadline_date_enrollment')}: #{l(@event.deadline_date_enrollment, format: :long)}" if @presenter.open_enrollment %>&nbsp;</h4>
    </div>
  </section>
