<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Palestras Coletivas</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "shared/header" %>
    <%= render "shared/flash_messages" %>
    
    <div class="content">
      <section class="main">
        <%= yield %>
      </section>
      <aside class="sidebar">
        <%= yield :sidebar %>
      </aside>
    </div>
  </body>
</html>
