<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= t("app.info") %>">
    <meta name="author" content="Tá safo!">
    <%= favicon_pack_tag 'logo_palestras_pMW_icon.ico' %>
    <title><%= t("app.name") %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'mdb', 'fontawesome', 'fontroboto', 'application', media: 'all' %>
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>
  <body>
    <%= render 'shared/header', bg: 'bg-light' %>

    <%= yield %>

    <%= render "shared/footer" %>

    <%= javascript_pack_tag 'application', 'mdb' %>
  </body>
</html>
