<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= t("app.info") %>">
    <meta name="author" content="Tá safo!">
    <%= favicon_pack_tag 'logo_palestras_pMW_icon.ico' %>
    <% if @event.present? %>
    <%= display_meta_tags description: sanitize(@event.description) %>
    <%= display_meta_tags keywords: @event.tags %>
    <%= display_meta_tags image_src:(@event.image_path) %>
    <title><%= @event.name_edition %></title>
    <% end %>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag "event", media: "all" %>
  </head>
  <body>
    <%= render 'shared/header', bg: 'bg-light' %>

    <%= yield %>

    <%= render "shared/footer" %>

    <%= javascript_pack_tag "event" %>
  </body>
</html>
