<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="<%= t("app.info") %>">
    <meta name="author" content="Tá safo!">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'mdb', 'fontawesome', 'fontroboto', 'home', media: "all" %>
    <%= favicon_pack_tag 'logo_palestras_pMW_icon.ico' %>
    <link rel="manifest" href="/manifest.json" />
    <title><%= t("app.name") %></title>
  </head>
  <body>
    <%= render 'shared/header', bg: '' %>

    <%= yield %>

    <%= render "shared/footer" %>

    <%= javascript_pack_tag 'home', 'mdb' %>
    <%= javascript_include_tag "home" %>

    <style>
      .navbar .nav-link {
        color: #c9d73a !important;
      }
    </style>
  </body>
</html>
